.claude
.DS_Store
.eslintcache*
**/.vscode-clean/**
**/.vscode-test/**
**/.vscode-test-web/**
**/test-results/**
dist
out
node_modules
images/settings
.gitkraken-components.version
gitlens-*.vsix
product.json
tsconfig*.tsbuildinfo
*.code-workspace
localdev*.instructions.md
