dist
docs/telemetry-events.md
out
node_modules
git.d.ts
glicons.scss
images/icons/template/component-map.hbs
images/icons/template/icons-contribution.hbs
images/icons/template/mapping.json
images/icons/template/sass-map.hbs
images/icons/template/styles.hbs
src/emojis.generated.ts
src/webviews/apps/shared/components/icons/codicons-map.ts
src/webviews/apps/shared/components/icons/glicons-map.ts
src/webviews/apps/shared/styles/icons/codicons-map.scss
src/webviews/apps/shared/styles/icons/glicons-map.scss
pnpm-lock.yaml
