!images/dark/**
!images/light/**
!images/gitlens-icon.png
images/**
.vscode/**
.vscode-test/**
test/**
src/**
**/*.map
.github/**
.gitignore
.rpt2_cache/**
CODE_OF_CONDUCT.md
package-lock.json
rollup.config.js
tsconfig.json
tslint.json
webpack.config.js