.github/**
.vscode/**
.vscode-clean/**
.vscode-test/**
.vscode-test-web/**
.yarn/**
dist/webviews/*.css
docs/**
emoji/**
images/docs/sponsors/**
images/docs/gitlens-preview.gif
images/icons/**
images/originals/**
node_modules/**
out/**
patches/**
scripts/**
src/**
test/**
**/*.fig
**/*.map
**/*.pdn
**/*.js.LICENSE.txt
.browserslistrc
.eslintcache
.eslintignore
.eslintrc*.json
.fantasticonrc.js
.git-blame-ignore-revs
.gitattributes
.gitignore
.mailmap
.prettierignore
.prettierrc
.yarnrc
BACKERS.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
esbuild.mjs
README.pre.md
svgo.config.js
tsconfig*.json
tsconfig*.tsbuildinfo
webpack.config*.js
yarn.lock
.DS_Store
