.github/**
.vscode/**
.yarn/**
dist/webviews/main.js
emoji/**
images/docs/**
images/**/*.pdn
node_modules/**
src/**
test/**
*.fig
*.map
.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.gitignore-revs
.mailmap
.prettierignore
.prettierrc
.yarnrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
generateEmojiShortcodeMap.js
tsconfig.tsbuildinfo
tsconfig.eslint.json
tsconfig.json
tsconfig.webviews.json
webpack.config.js
yarn.lock
