@use '../shared/styles/utils';

.button {
	display: inline-block;
	padding: 1em 1.75em;
	margin: 1em 0.5em;
	font-size: var(--gl-font-sm);
	text-transform: uppercase;
	letter-spacing: 0.25em;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	background: none;
	border: none;
	border-radius: var(--gl-radius-sm);

	&:focus {
		outline: none;
	}

	&[disabled] {
		cursor: default !important;
		opacity: 0.25 !important;
	}

	.shortcut {
		display: block;
		margin: 5px 0 0;
		font-size: 0.8rem;
		font-weight: 200;
		opacity: 0.6;
	}

	&:hover {
		.shortcut {
			opacity: 1;
		}
	}
}

.button--compact {
	padding: 0.6em 1em;
}

.button--big {
	font-size: 1.5rem;
}

.button--flat {
	transition:
		background-color var(--gl-duration-slow),
		border-color var(--gl-duration-slow),
		color var(--gl-duration-slow);

	@include utils.light-theme($selectorPostfix: ' &') {
		color: black;
		border: var(--gl-border-width) solid rgb(0 0 0 / 60%);
	}

	@include utils.dark-theme($selectorPostfix: ' &') {
		color: white;
		border: var(--gl-border-width) solid rgb(255 255 255 / 60%);
	}

	&:not([disabled]):hover,
	&:not([disabled]):focus {
		@include utils.light-theme($selectorPostfix: ' &') {
			color: white;
			background-color: var(--color-button-background--darken-30);
			border-color: var(--color-button-background--darken-30);
		}

		@include utils.dark-theme($selectorPostfix: ' &') {
			color: black;
			background-color: white;
			border-color: white;
		}
	}

	.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-inverse {
	font-weight: 600;
	color: black;
	background-color: white;
	border: var(--gl-border-width) solid white;
	transition:
		background-color var(--gl-duration-slow),
		border-color var(--gl-duration-slow),
		color var(--gl-duration-slow);

	&:not([disabled]):hover,
	&:not([disabled]):focus {
		color: white;
		background: rgb(0 0 0 / 20%);
		border-color: rgb(255 255 255 / 60%);
	}

	.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-primary {
	font-weight: 600;
	color: var(--color-button-foreground);
	background-color: var(--color-button-background);
	border: var(--gl-border-width) solid var(--color-button-background);
	transition:
		background-color var(--gl-duration-slow),
		border-color var(--gl-duration-slow),
		color var(--gl-duration-slow);

	&:not([disabled]):hover,
	&:not([disabled]):focus {
		@include utils.dark-theme($selectorPostfix: ' &') {
			color: black;
			background-color: white;
			border-color: white;
		}

		@include utils.light-theme($selectorPostfix: ' &') {
			color: white;
			background-color: var(--color-button-background--darken-30);
			border-color: var(--color-button-background--darken-30);
		}
	}

	.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-secondary {
	font-weight: 600;
	color: var(--vscode-button-secondaryForeground);
	background-color: var(--color-button-secondary-background);
	border: var(--gl-border-width) solid var(--color-button-secondary-background);
	transition:
		background-color var(--gl-duration-slow),
		border-color var(--gl-duration-slow),
		color var(--gl-duration-slow);

	&:not([disabled]):hover,
	&:not([disabled]):focus {
		@include utils.dark-theme($selectorPostfix: ' &') {
			color: black;
			background-color: white;
			border-color: white;
		}

		@include utils.light-theme($selectorPostfix: ' &') {
			color: var(--vscode-button-secondaryForeground);
			background-color: var(--color-button-secondary-background--darken-30);
			border-color: var(--color-button-secondary-background--darken-30);
		}
	}

	.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-subtle {
	transition:
		background-color var(--gl-duration-slow),
		border-color var(--gl-duration-slow),
		color var(--gl-duration-slow);

	@include utils.light-theme($selectorPostfix: ' &') {
		color: rgb(0 0 0 / 60%);
		border: var(--gl-border-width) solid rgb(0 0 0 / 20%);
	}

	@include utils.dark-theme($selectorPostfix: ' &') {
		color: rgb(255 255 255 / 60%);
		border: var(--gl-border-width) solid rgb(255 255 255 / 20%);
	}

	&:not([disabled]):hover,
	&:not([disabled]):focus {
		@include utils.light-theme($selectorPostfix: ' &') {
			color: white;
			background-color: var(--color-button-secondary-background--darken-30);
			border-color: var(--color-button-secondary-background--darken-30);
		}

		@include utils.dark-theme($selectorPostfix: ' &') {
			color: black;
			background-color: white;
			border-color: white;
		}
	}

	.preload & {
		transition-duration: 0s !important;
	}
}

.button--right {
	margin-left: auto;
}
