@font-face {
	font-family: 'glicons';
	font-display: block;
	src: url("./glicons.woff2?f01a0268b6a0a553b18a58a2044dacac") format("woff2");
}

.glicon {
	font: normal normal normal 16px/1 glicons;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*---------------------
 *  Modifiers
 *-------------------*/

@keyframes glicon-spin {
	100% {
		transform: rotate(360deg);
	}
}

.glicon-sync.glicon-modifier-spin,
.glicon-loading.glicon-modifier-spin,
.glicon-gear.glicon-modifier-spin {
	/* Use steps to throttle FPS to reduce CPU usage */
	animation: glicon-spin 1.5s steps(30) infinite;
}

.glicon-modifier-disabled {
	opacity: 0.5;
}

.glicon-modifier-hidden {
	opacity: 0;
}

/* custom speed & easing for loading icon */
.glicon-loading {
	animation-duration: 1s !important;
	animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67) !important;
}

/*---------------------
 *  Icons
 *-------------------*/

.glicons-commit-horizontal:before {
	content: '\f101';
}
.glicons-graph:before {
	content: '\f102';
}
.glicons-next-commit:before {
	content: '\f103';
}
.glicons-prev-commit-menu:before {
	content: '\f104';
}
.glicons-prev-commit:before {
	content: '\f105';
}
.glicons-compare-ref-working:before {
	content: '\f106';
}
.glicons-branches-view:before {
	content: '\f107';
}
.glicons-commit-view:before {
	content: '\f108';
}
.glicons-commits-view:before {
	content: '\f109';
}
.glicons-compare-view:before {
	content: '\f10a';
}
.glicons-contributors-view:before {
	content: '\f10b';
}
.glicons-history-view:before {
	content: '\f10c';
}
.glicons-remotes-view:before {
	content: '\f10d';
}
.glicons-repositories-view:before {
	content: '\f10e';
}
.glicons-search-view:before {
	content: '\f10f';
}
.glicons-stashes-view:before {
	content: '\f110';
}
.glicons-stashes:before {
	content: '\f110';
}
.glicons-tags-view:before {
	content: '\f111';
}
.glicons-worktrees-view:before {
	content: '\f112';
}
.glicons-gitlens:before {
	content: '\f113';
}
