/*

Must be placed at the end of body in the HTML file of any webview that needs it (because of CSP)

<style nonce="#{cspNonce}">
	@font-face {
		font-family: 'glicons';
		font-display: block;
		src: url("#{root}/dist/glicons.woff2?887e981267645659b15471f86c55a40e") format("woff2");
	}
</style>
*/

@use './glicons-properties';

/*---------------------
 *  Base class
 *-------------------*/

.glicon {
	font: normal normal normal 16px/1 glicons;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.glicon:before {
	content: var(--gl-glicon-content);
}

/*---------------------
 *  Modifiers
 *-------------------*/

@keyframes glicon-spin {
	100% {
		transform: rotate(360deg);
	}
}

.glicon-sync.glicon-modifier-spin,
.glicon-loading.glicon-modifier-spin,
.glicon-gear.glicon-modifier-spin {
	/* Use steps to throttle FPS to reduce CPU usage */
	animation: glicon-spin 1.5s steps(30) infinite;
}

.glicon-modifier-disabled {
	opacity: 0.5;
}

.glicon-modifier-hidden {
	opacity: 0;
}

/* custom speed & easing for loading icon */
.glicon-loading {
	animation-duration: 1s !important;
	animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67) !important;
}

/*---------------------
 *  Icons
 *-------------------*/

.glicon-commit-horizontal {
	--gl-glicon-content: var(--gl-glicon-commit-horizontal-content);
}
.glicon-graph {
	--gl-glicon-content: var(--gl-glicon-graph-content);
}
.glicon-next-commit {
	--gl-glicon-content: var(--gl-glicon-next-commit-content);
}
.glicon-prev-commit-menu {
	--gl-glicon-content: var(--gl-glicon-prev-commit-menu-content);
}
.glicon-prev-commit {
	--gl-glicon-content: var(--gl-glicon-prev-commit-content);
}
.glicon-compare-ref-working {
	--gl-glicon-content: var(--gl-glicon-compare-ref-working-content);
}
.glicon-branches-view {
	--gl-glicon-content: var(--gl-glicon-branches-view-content);
}
.glicon-commit-view {
	--gl-glicon-content: var(--gl-glicon-commit-view-content);
}
.glicon-commits-view {
	--gl-glicon-content: var(--gl-glicon-commits-view-content);
}
.glicon-compare-view {
	--gl-glicon-content: var(--gl-glicon-compare-view-content);
}
.glicon-contributors-view {
	--gl-glicon-content: var(--gl-glicon-contributors-view-content);
}
.glicon-history-view {
	--gl-glicon-content: var(--gl-glicon-history-view-content);
}
.glicon-history {
	--gl-glicon-content: var(--gl-glicon-history-content);
}
.glicon-remotes-view {
	--gl-glicon-content: var(--gl-glicon-remotes-view-content);
}
.glicon-repositories-view {
	--gl-glicon-content: var(--gl-glicon-repositories-view-content);
}
.glicon-search-view {
	--gl-glicon-content: var(--gl-glicon-search-view-content);
}
.glicon-stashes-view {
	--gl-glicon-content: var(--gl-glicon-stashes-view-content);
}
.glicon-stashes {
	--gl-glicon-content: var(--gl-glicon-stashes-content);
}
.glicon-tags-view {
	--gl-glicon-content: var(--gl-glicon-tags-view-content);
}
.glicon-worktrees-view {
	--gl-glicon-content: var(--gl-glicon-worktrees-view-content);
}
.glicon-gitlens {
	--gl-glicon-content: var(--gl-glicon-gitlens-content);
}
.glicon-stash-pop {
	--gl-glicon-content: var(--gl-glicon-stash-pop-content);
}
.glicon-stash-save {
	--gl-glicon-content: var(--gl-glicon-stash-save-content);
}
.glicon-unplug {
	--gl-glicon-content: var(--gl-glicon-unplug-content);
}
.glicon-open-revision {
	--gl-glicon-content: var(--gl-glicon-open-revision-content);
}
.glicon-switch {
	--gl-glicon-content: var(--gl-glicon-switch-content);
}
.glicon-expand {
	--gl-glicon-content: var(--gl-glicon-expand-content);
}
.glicon-list-auto {
	--gl-glicon-content: var(--gl-glicon-list-auto-content);
}
.glicon-repo-force-push {
	--gl-glicon-content: var(--gl-glicon-repo-force-push-content);
}
.glicon-pinned-filled {
	--gl-glicon-content: var(--gl-glicon-pinned-filled-content);
}
.glicon-clock {
	--gl-glicon-content: var(--gl-glicon-clock-content);
}
.glicon-provider-azdo {
	--gl-glicon-content: var(--gl-glicon-provider-azdo-content);
}
.glicon-provider-bitbucket {
	--gl-glicon-content: var(--gl-glicon-provider-bitbucket-content);
}
.glicon-provider-gerrit {
	--gl-glicon-content: var(--gl-glicon-provider-gerrit-content);
}
.glicon-provider-gitea {
	--gl-glicon-content: var(--gl-glicon-provider-gitea-content);
}
.glicon-provider-github {
	--gl-glicon-content: var(--gl-glicon-provider-github-content);
}
.glicon-provider-gitlab {
	--gl-glicon-content: var(--gl-glicon-provider-gitlab-content);
}
.glicon-gitlens-inspect {
	--gl-glicon-content: var(--gl-glicon-gitlens-inspect-content);
}
.glicon-workspaces-view {
	--gl-glicon-content: var(--gl-glicon-workspaces-view-content);
}
.glicon-confirm-checked {
	--gl-glicon-content: var(--gl-glicon-confirm-checked-content);
}
.glicon-confirm-unchecked {
	--gl-glicon-content: var(--gl-glicon-confirm-unchecked-content);
}
.glicon-cloud-patch {
	--gl-glicon-content: var(--gl-glicon-cloud-patch-content);
}
.glicon-cloud-patch-share {
	--gl-glicon-content: var(--gl-glicon-cloud-patch-share-content);
}
.glicon-inspect {
	--gl-glicon-content: var(--gl-glicon-inspect-content);
}
.glicon-repository-filled {
	--gl-glicon-content: var(--gl-glicon-repository-filled-content);
}
.glicon-gitlens-filled {
	--gl-glicon-content: var(--gl-glicon-gitlens-filled-content);
}
.glicon-code-suggestion {
	--gl-glicon-content: var(--gl-glicon-code-suggestion-content);
}
.glicon-provider-jira {
	--gl-glicon-content: var(--gl-glicon-provider-jira-content);
}
