@use './styles/utils';

.popup {
	position: absolute;
	top: 72px;
	z-index: var(--gl-z-raised);
	width: 80vw;
	min-width: 373px;
	max-width: 472px;
	padding: 1em;
	cursor: default;

	@include utils.elevated-surface(var(--gl-shadow-dialog));

	&::before {
		position: absolute;
		top: -24px;
		left: 50%;
		z-index: 1001;
		pointer-events: none;
		content: '';
		background: transparent;
		border: 12px solid transparent;

		@include utils.light-theme($selectorPostfix: ' &') {
			border-bottom-color: var(--color-background--darken-05);
		}

		@include utils.dark-theme($selectorPostfix: ' &') {
			border-bottom-color: var(--color-background--lighten-075);
		}
	}

	@include utils.light-theme($selectorPostfix: ' &') {
		background: var(--color-background--darken-05);
	}

	@include utils.dark-theme($selectorPostfix: ' &') {
		background: var(--color-background--lighten-075);
	}
}

.token-popup__scroller {
	max-height: 35vh;
	padding-right: 0.4em;
	margin-right: -0.4em;
	overflow-y: scroll;
}

.token-popup__hint {
	display: inline-block;
	margin: 1.25em 0.5em 0 0.25em;
	font-weight: 200;
	color: var(--color-foreground--75);
}

.token-popup__title {
	margin: 0.25em 0 1em;
	font-weight: 400;
	color: var(--color-foreground);
	text-align: center;
}

.token-popup__table {
	color: var(--color-foreground--75);
	table-layout: fixed;
	border-collapse: collapse;

	& tr:nth-child(even) {
		@include utils.light-theme($selectorPostfix: ' &') {
			background-color: rgb(0 0 0 / 5%);
		}

		@include utils.dark-theme($selectorPostfix: ' &') {
			background-color: rgb(255 255 255 / 4%);
		}
	}

	& td {
		padding: 6px;

		i {
			opacity: 0.6;
		}
	}

	& td:first-child {
		padding: 6px 12px;
	}

	& td:last-child {
		padding-right: 12px;
		text-align: end;
	}
}

.token {
	display: inline-block;
	padding: 1px 8px !important;
	color: white;
	cursor: pointer;
	background: var(--color-link-foreground--darken-20);
	border-bottom: 2px solid var(--color-link-foreground--darken-20);
	border-radius: var(--gl-radius-sm);

	&::before {
		content: '${';
	}

	&::after {
		content: '}';
	}

	@include utils.light-theme($selectorPostfix: ' &') {
		background: var(--color-link-foreground--lighten-20);
		border-bottom-color: var(--color-link-foreground--lighten-20);
	}
}
