@import '../../shared/base';
@import '../../shared/codicons';
@import '../../../../../node_modules/@gitkraken/gitkraken-components/dist/styles.css';

body {
	&.vscode-dark {
		--actionbar-background-color: var(--color-background--lighten-05);
		--actionbar-hover-background-color: var(--color-background--lighten-075);
	}

	&.vscode-light {
		--actionbar-background-color: var(--color-background--darken-05);
		--actionbar-hover-background-color: var(--color-background--darken-075);
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.badge {
	font-weight: 700;
	text-transform: uppercase;
}

.actionbar {
	--actionbar-height: 22px;

	background-color: var(--actionbar-background-color);
	color: var(--color-foreground);
	padding: 0 1rem;
	height: var(--actionbar-height);

	&,
	&__group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		gap: 0.5rem;

		> * {
			margin: 0;
		}
	}
}

.actioncombo {
	$block: &;
	$block-expanded: #{$block}--expanded;

	--actioncombo-height: 2.2rem;
	--actioncombo-items: 1;

	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	font-size: 1.2rem;
	gap: 0.25rem;
	height: var(--actioncombo-height);
	line-height: var(--actioncombo-height);

	&__label,
	&__item {
		appearance: none;
		font-family: inherit;
		background-color: transparent;
		border: none;
		color: inherit;
		padding: 0 0.75rem;
		height: var(--actioncombo-height);
		line-height: var(--actioncombo-height);
		cursor: pointer;
		background-color: var(--actionbar-background-color);
		text-align: left;

		&:hover {
			background-color: var(--actionbar-hover-background-color);
		}

		&[disabled] {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	&__label {
	}

	&__icon.codicon[class*='codicon-'] {
		margin-right: 0.25rem;
	}

	&__list {
		position: absolute;
		left: 0;
		bottom: 100%;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		min-width: 100%;
		width: max-content;
		z-index: 100;
	}

	&__label:not([aria-expanded='true']) + &__list {
		display: none;
	}

	&__item {
	}
}

.alert {
	--alert-foreground: var(--vscode-input-foreground);
	--alert-background: var(--vscode-inputValidation-infoBackground);
	--alert-border-color: var(--vscode-inputValidation-infoBorder);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.25rem;
	border: 1px solid var(--alert-border-color);
	background-color: var(--alert-background);
	color: var(--alert-foreground);

	&__icon {
	}

	&__content {
		padding-top: 0.24rem;
	}
	&__title {
		font-size: 1.3rem;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
	}
	&__message {
		font-size: 1.2rem;
		margin: 0;
	}

	&__title + &__message {
		margin-top: 0.25rem;
	}

	&__action {
		border: 1px solid transparent;
		background-color: transparent;
		color: inherit;
		appearance: none;
		width: 2rem;
		height: 2rem;
		padding: 0;
		cursor: pointer;
		margin-left: auto;
	}
}

// TODO: move this to host-side
.graph-icon {
	font: normal normal normal 14px/1 codicon;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	vertical-align: middle;
	line-height: 2rem;
	letter-spacing: normal;
}

.icon--head {
	&::before {
		// codicon-vm
		font-family: codicon;
		content: '\ea7a';
	}
}

.icon--remote {
	&::before {
		// codicon-cloud
		font-family: codicon;
		content: '\ebaa';
	}
}

.icon--tag {
	&::before {
		// codicon-tag
		font-family: codicon;
		content: '\ea66';
	}
}

.icon--stash {
	&::before {
		// codicon-inbox
		font-family: codicon;
		content: '\eb09';
	}
}

.icon--check {
	&::before {
		// codicon-check
		font-family: codicon;
		content: '\eab2';
	}
}

.icon--loading {
	&::before {
		// codicon-loading
		font-family: codicon;
		content: '\eb19';
	}
	animation: spin 1s infinite linear;
	animation-delay: 0.2s;

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.icon--warning {
	:before {
		// codicon-vm
		font-family: codicon;
		content: '\ea6c';
	}
	color: #de9b43;
}

.icon--added {
	&::before {
		// codicon-add
		font-family: codicon;
		content: '\ea60';
	}
}
.icon--modified {
	&::before {
		// codicon-edit
		font-family: codicon;
		content: '\ea73';
	}
}
.icon--deleted {
	&::before {
		// codicon-dash
		font-family: codicon;
		content: '\eacc';
	}
}
.icon--renamed {
	&::before {
		// codicon-file
		font-family: codicon;
		content: '\eb60';
	}
}
.icon--resolved {
	&::before {
		// codicon-pass-filled
		font-family: codicon;
		content: '\ebb3';
	}
}

.graph-app {
	--fs-2: 1.3rem;
	--scroll-thumb-bg: var(--vscode-scrollbarSlider-background);

	padding: 0;

	&__container {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 1px); // shoot me -- the 1px is to stop the vertical scrollbar from showing up
		gap: 0;
		padding: 0 2px;
	}

	&__banner {
		flex: none;
		padding: 0.5rem;
	}

	&__footer {
		flex: none;
	}

	&__main {
		flex: 1 1 auto;
		overflow: hidden;
	}
}

::-webkit-scrollbar-thumb {
	background-color: var(--vscode-scrollbarSlider-background);
	border: unset !important;
	border-radius: unset !important;

	&:hover {
		background-color: var(--vscode-scrollbarSlider-hoverBackground);
	}

	&:active {
		background-color: var(--vscode-scrollbarSlider-activeBackground);
	}
}

.graph-header {
	& .resizable-handle.horizontal {
		--sash-size: 4px;
		--sash-hover-size: 4px;

		border-right: none !important;
		width: var(--sash-size) !important;
		height: 100vh !important;
		z-index: 1000;

		&:before {
			content: "";
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100vh;
			transition: background-color .1s ease-out;
			background: transparent;

			width: var(--sash-hover-size);
			left: calc(50% - var(--sash-hover-size)/2);
		}

		&:hover, &:active {
			&:before {
				transition-delay: 0.2s;
				background-color: var(--vscode-sash-hoverBorder);
			}
		}
	}
}

.graph-container {
	& .resizable-handle.horizontal {
		display: none;
	}
}

.graph-container .node.stash-node .graph-icon {
	transform: translateY(-2px);
}
