<template id="links">
	<section>
		<div class="links">
			<div class="links__group">
				<h4>Get Started</h4>
				<ul>
					<li>
						<a href="command:gitlens.getStarted" appearance="secondary">Walkthrough</a>
					</li>
					<li>
						<a href="command:gitlens.premium.learn" appearance="secondary">Premium features walkthrough</a>
					</li>
					<li>
						<a href="command:gitlens.showWelcomePage?%22quick-setup%22" appearance="secondary"
							>Quick&nbsp;setup</a
						>
					</li>
					<li>
						<a href="command:gitlens.showSettingsPage" appearance="secondary"
							>Interactive&nbsp;settings&nbsp;editor</a
						>
					</li>
					<li>
						<a href="command:gitlens.home.toggleWelcome">Restore&nbsp;welcome</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>Help</h4>
				<ul>
					<li>
						<i class="codicon codicon-book"></i>
						<a href="https://github.com/eamodio/vscode-gitlens#readme">Documentation</a>
					</li>
					<li>
						<i class="codicon codicon-comment-discussion"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens/discussions">Questions</a>
					</li>
					<li>
						<i class="codicon codicon-issues"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens/issues">Issues</a>
					</li>
					<li>
						<i class="codicon codicon-comment"></i>
						<a href="https://gitkraken.slack.com">Slack</a>
					</li>
					<li>
						<i class="codicon codicon-twitter"></i>
						<a href="https://twitter.com/gitlens">Twitter</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>Resources</h4>
				<ul>
					<li><a href="https://gitlens.amod.io">Website</a></li>
					<li><a href="https://gitlens.amod.io/#whats-new">What's new</a></li>
					<li>
						<a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens">Marketplace</a>
					</li>
					<li><a href="https://github.com/eamodio/vscode-gitlens">GitHub</a></li>
					<li><a href="https://github.com/gitkraken/vscode-gitlens/blob/main/LICENSE">License</a></li>
				</ul>
			</div>
		</div>
	</section>
</template>
