<template id="state:paid">
	<section>
		<h3 data-bind="plan">GitLens Pro</h3>
		<p>Thank you for purchasing <span data-bind="plan">GitLens Pro</span>!</p>
		<p>
			Your <span data-bind="plan">GitLens Pro</span> account gives you access to premium features for both public
			and private repos.
		</p>
		<vscode-button data-action="command:gitlens.premium.learn">Learn about premium features</vscode-button>
		<p>
			<a href="command:gitlens.premium.manage">Manage my account</a>
		</p>
	</section>
</template>
