<template id="state:free">
	<section>
		<h3>Introducing Premium Features</h3>
		<p>
			Premium features are all-new features that enhance your current GitLens experience and require an account to
			access. All non-premium features are unrestricted.
		</p>
		<vscode-button data-action="command:gitlens.premium.startPreviewTrial">Try premium features now</vscode-button>
		<p>
			Try premium features now, without an account, for 3 days on public and private repos, or
			<a href="command:gitlens.premium.loginOrSignUp">sign in</a> to use premium features on public repos. Learn
			more about <a href="command:gitlens.premium.learn">premium features</a>.
		</p>
		<h4>Visual File History</h4>
		<img class="image--preview" src="#{root}/images/docs/visual-file-history-hover.png" alt="Visual File History" />
		<p>
			The Visual File History allows you to quickly see the evolution of a file, including when changes were made,
			how large they were, and who made them. Learn more about the
			<a href="command:gitlens.openWalkthrough?%22gitlens.premium%7Cgitlens.premium.visualFileHistory%22"
				>Visual File History</a
			>.
		</p>
		<h4>Worktrees</h4>
		<img class="image--preview" src="#{root}/images/docs/worktrees-view.png" alt="Worktrees" />
		<p>
			Worktrees allow you to easily work on different branches of a repository simultaneously. Learn more about

			<a href="command:gitlens.openWalkthrough?%22gitlens.premium%7Cgitlens.premium.worktrees%22""
				>worktrees</a
			>.
		</p>
	</section>
</template>
