<template id="state:free">
	<section>
		<h3>Introducing Premium Features (Optional)</h3>
		<p>
			<a title="Learn more about premium features" href="command:gitlens.premium.learn">Premium features</a> are
			all-new, completely optional, features that enhance your current GitLens experience when you sign with an
			account.
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;Non-premium features are always accessible, without an account,
			and will continue to evolve and be invested in.
		</p>
		<vscode-button data-action="command:gitlens.premium.startPreviewTrial">Try premium features now</vscode-button>
		<p style="margin-bottom: 1rem">
			Try
			<a title="Learn more about premium features" href="command:gitlens.premium.learn">premium features</a> now,
			without an account, for 3 days on public and private repos, or
			<a title="Sign in now" href="command:gitlens.premium.loginOrSignUp">sign in</a> for unlimited use on public
			repos.
		</p>
		<h4>Visual File History</h4>
		<img
			class="image--preview"
			src="#{root}/images/docs/visual-file-history-hover.png"
			alt="Visual File History screenshot"
		/>
		<p class="feature-desc">
			The
			<a
				title="Learn more about the Visual File History"
				href="command:gitlens.openWalkthrough?%22gitlens.premium%7Cgitlens.premium.visualFileHistory%22"
				>Visual File History</a
			>
			allows you to quickly see the evolution of a file, including when changes were made, how large they were,
			and who made them.
		</p>
		<h4>Worktrees</h4>
		<img class="image--preview" src="#{root}/images/docs/worktrees-view.png" alt="Worktrees screenshot" />
		<p class="feature-desc">
			<a
				title="Learn more about worktrees"
				href="command:gitlens.openWalkthrough?%22gitlens.premium%7Cgitlens.premium.worktrees%22"
				>Worktrees</a
			>
			allow you to easily work on different branches of a repository simultaneously.
		</p>
	</section>
</template>
