<template id="state:plus-trial-expired">
	<h3>GitLens+</h3>
	<p>
		Your GitLens+ account gives you access to use
		<a title="Learn more about GitLens+ features" href="command:gitlens.plus.learn">GitLens+ features</a> on public
		repos.
	</p>
	<p>
		<a title="Manage your account" href="command:gitlens.plus.manage">Manage your account</a>
	</p>
	<p>Upgrade your account for access to GitLens+ features on private repos.</p>
	<vscode-button data-action="command:gitlens.plus.purchase">Upgrade your account</vscode-button>
	<p>
		<i class="codicon codicon-info"></i>&nbsp;All other GitLens features are always accessible, without an account,
		and will continue to evolve and be invested in.
	</p>
</template>
