<template id="state:plus-trial-expired">
	<section>
		<h3>GitLens Free+</h3>
		<p>Your GitLens Free+ account gives you access to premium features on public repos.</p>
		<p>Purchase a plan for access to both public and private repos.</p>
		<vscode-button data-action="command:gitlens.premium.purchase">Purchase a plan</vscode-button>
		<vscode-button data-action="command:gitlens.premium.learn" appearance="secondary"
			>Learn about premium features</vscode-button
		>
		<p>
			<a href="command:gitlens.premium.manage">Manage my account</a>
		</p>
	</section>
</template>
