<template id="state:free">
	<h3>Introducing GitLens+</h3>
	<p>
		<a title="Learn more about GitLens+ features" href="command:gitlens.plus.learn">GitLens+</a> adds all-new,
		completely optional, features that enhance your current GitLens experience when you sign in with a free account.
	</p>
	<p>
		<i class="codicon codicon-info"></i>&nbsp;All other GitLens features are always accessible, without an account,
		and will continue to evolve and be invested in.
	</p>
	<vscode-button data-action="command:gitlens.plus.startPreviewTrial">Try GitLens+ features now</vscode-button>
	<p>
		Try
		<a title="Learn more about GitLens+ features" href="command:gitlens.plus.learn">GitLens+ features</a> now,
		without an account, for 3 days on public and private repos, or
		<a title="Sign in to GitLens+" href="command:gitlens.plus.loginOrSignUp">sign in</a> for use on public repos.
	</p>
	<p style="margin-bottom: 1rem">GitLens+ features include the Commit Graph, Visual File History and Worktrees.</p>
	<h4>Commit Graph</h4>
	<img
		class="image--preview"
		src="#{webroot}/media/plus-commit-graph-illustrated.webp"
		alt="Commit Graph illustration"
	/>
	<p class="feature-desc">
		The
		<a
			title="Learn more about the Visual File History"
			href="command:gitlens.openWalkthrough?%22gitlens.plus%7Cgitlens.plus.commitGraph%22"
			>Commit Graph</a
		>
		helps you easily visualize branch structure and commit history. Not only does it help you verify your changes,
		but also easily see changes made by others and when.
	</p>
	<h4>Visual File History</h4>
	<img
		class="image--preview"
		src="#{webroot}/media/plus-visual-file-history-illustrated.webp"
		alt="Visual File History illustration"
	/>
	<p class="feature-desc">
		The
		<a
			title="Learn more about the Visual File History"
			href="command:gitlens.openWalkthrough?%22gitlens.plus%7Cgitlens.plus.visualFileHistory%22"
			>Visual File History</a
		>
		allows you to quickly see the evolution of a file, including when changes were made, how large they were, and
		who made them.
	</p>
	<h4>Worktrees</h4>
	<img class="image--preview" src="#{webroot}/media/plus-worktrees-illustrated.webp" alt="Worktrees illustration" />
	<p class="feature-desc">
		<a
			title="Learn more about worktrees"
			href="command:gitlens.openWalkthrough?%22gitlens.plus%7Cgitlens.plus.worktrees%22"
			>Worktrees</a
		>
		allow you to easily work on different branches of a repository simultaneously.
	</p>
</template>
