<template id="views">
	<h3>Where can I find GitLens features?</h3>
	<p>
		GitLens is integrated into many aspects of VS Code, from directly within the file editor to many feature views
		in the side bar. These feature views,
		<a href="command:gitlens.showCommitsView" title="Open Commits view">Commits</a>,
		<a href="command:gitlens.showFileHistoryView" title="Open File History view">File History</a>,
		<a href="command:gitlens.showBranchesView" title="Open Branches view">Branches</a>, etc., are shown on the
		<a href="command:gitlens.home.showSCM" title="Open Source Control side bar">Source Control side bar</a>, by
		default.
	</p>
	<vscode-button data-action="command:gitlens.home.showSCM">Open Source Control side bar</vscode-button>
	<p>Learn more in the <a href="command:gitlens.getStarted">Get started walkthrough</a>.</p>
</template>
