<template id="welcome">
	<h3>Welcome to GitLens 12</h3>
	<a
		class="link--preview"
		title="Watch the GitLens Getting Started video"
		href="https://www.youtube.com/watch?v=UQPb73Zz9qk"
	>
		<img
			class="image--preview"
			src="#{webroot}/media/gitlens-tutorial-banner-400.webp"
			alt="Watch the GitLens Getting Started video"
		/>
	</a>
	<p>
		GitLens <b>supercharges</b> Git inside VS Code and unlocks the <b>untapped knowledge</b> within each repository.
		It helps you to <b>visualize code authorship</b> at a glance via Git blame annotations and CodeLens,
		<b>seamlessly navigate and explore</b> Git repositories, <b>gain valuable insights</b> via rich visualizations
		and powerful comparison commands, and so much more.
	</p>
	<vscode-button data-action="command:gitlens.showWelcomePage">Quick setup</vscode-button>
	<vscode-button data-action="command:gitlens.getStarted">Get started walkthrough</vscode-button>
	<p>
		Use the quick setup experience to personalize GitLens to meet your needs, or jump over to the getting started
		walkthrough to familiarize yourself with the rich features GitLens provides.
	</p>
	<vscode-button data-action="command:gitlens.home.toggleWelcome" appearance="secondary"
		>Dismiss welcome</vscode-button
	>
</template>
