<template id="welcome">
	<section class="welcome">
		<h3>Welcome to GitLens 12</h3>
		<p>
			GitLens <b>supercharges</b> Git inside VS Code and <b>unlocks</b> the untapped <b>knowledge</b> within each
			repository. While GitLens is both very <b>powerful</b> and feature rich, it is <b>intuitive</b> and highly
			customizable to meet your needs.
		</p>
		<p>Jump over to the getting started experience to familiarize yourself with the features GitLens provides.</p>
		<vscode-button data-action="command:gitlens.getStarted">Get started walkthrough</vscode-button>
		<p>Or, you can use the GitLens welcome experience to get setup quickly.</p>
		<vscode-button data-action="command:gitlens.showWelcomePage">Welcome (Quick Setup)</vscode-button>
		<ul>
			<li>
				To <a href="command:gitlens.showSettingsPage">view all GitLens settings</a>, run
				<i
					><a href="command:workbench.action.quickOpen?%22>GitLens%3A%20Open%20Settings%22"
						>GitLens: Open Settings</a
					></i
				>
				from the Command Palette.
			</li>
			<li>
				<a href="command:gitlens.showSettingsPage%23views">GitLens side bar views</a>
				for commits, branches, etc. are shown within the
				<a href="command:workbench.scm.focus">Source Control side bar</a> by default.
			</li>
			<li>
				To <a href="command:gitlens.setViewsLayout">display the side bar views here</a> in the GitLens side bar,
				run
				<i
					><a href="command:workbench.action.quickOpen?%22>GitLens%3A%20Set%20Views%20Layout%22"
						>GitLens: Set Views Layout</a
					></i
				>
				from the Command Palette, or drag & drop them individually.
			</li>
		</ul>
		<vscode-button data-action="command:gitlens.home.toggleWelcome" appearance="secondary"
			>Dismiss welcome</vscode-button
		>
	</section>
</template>
