:root {
	--gitlens-z-inline: 1000;
	--gitlens-z-sticky: 1100;
	--gitlens-z-popover: 1200;
	--gitlens-z-cover: 1300;
	--gitlens-z-dialog: 1400;
	--gitlens-z-modal: 1500;
	--gitlens-brand-color: #914db3;
	--gitlens-brand-color-2: #a16dc4;
}

.vscode-high-contrast,
.vscode-dark {
	--progress-bar-color: var(--color-background--lighten-15);
	--card-background: var(--color-background--lighten-075);
	--card-hover-background: var(--color-background--lighten-10);
}

.vscode-high-contrast-light,
.vscode-light {
	--progress-bar-color: var(--color-background--darken-15);
	--card-background: var(--color-background--darken-075);
	--card-hover-background: var(--color-background--darken-10);
}

* {
	box-sizing: border-box;
}

// avoids FOUC for elements not yet called with `define()`
:not(:defined) {
	visibility: hidden;
}

html {
	height: 100%;
	font-size: 62.5%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--color-view-background);
	color: var(--color-view-foreground);
	font-family: var(--font-family);
	min-height: 100%;
	line-height: 1.4;
	font-size: var(--vscode-font-size);
}

:focus {
	outline-color: var(--vscode-focusBorder);
}

.sr-skip {
	position: fixed;
	z-index: var(--gitlens-z-popover);
	top: 0.2rem;
	left: 0.2rem;
	display: inline-block;
	padding: 0.2rem 0.4rem;
	background-color: var(--color-view-background);
}
.sr-only,
.sr-only-focusable:not(:active):not(:focus) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.home {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;

	&__header {
		flex: none;
		padding: 0 2rem;
	}
	&__main {
		flex: 1;
		overflow: auto;
		padding: 2rem 2rem 0.4rem;
	}
	&__nav {
		flex: none;
		padding: 0 2rem;
		margin-bottom: 0.6rem;
	}
}

h3 {
	border: none;
	color: var(--color-view-header-foreground);
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;
	white-space: nowrap;
}

h4 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 1rem 0;
}

a {
	text-decoration: none;

	&:focus {
		outline-color: var(--focus-border);
	}

	&:hover {
		text-decoration: underline;
	}
}

b {
	font-weight: 600;
}

p {
	margin-top: 0;
}

ul {
	margin-top: 0;
	padding-left: 1.2em;
}

.icon-list {
	list-style: none;
	padding-left: 0;

	li {
		position: relative;
		padding-left: 2.2rem;

		> code-icon:first-child {
			position: absolute;
			left: 0;
			top: 0.1rem;
			font-size: 1.6rem;
			color: var(--color-foreground--50);
		}
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.button-link {
	code-icon {
		margin-right: 0.4rem;
	}
}

.centered {
	text-align: center;
}

.foreground {
	color: var(--color-view-foreground);
}

.inline-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__group {
		display: flex;
		flex-direction: row;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.2rem;
		height: 2.2rem;
		// line-height: 2.2rem;
		color: inherit;
		border-radius: 0.3rem;

		.codicon {
			line-height: 1.6rem;
		}

		&:hover {
			color: inherit;
			text-decoration: none;

			.vscode-dark & {
				background-color: var(--color-background--lighten-10);
			}
			.vscode-light & {
				background-color: var(--color-background--darken-10);
			}
		}

		&--text {
			@media (max-width: 370px) {
				> :last-child {
					display: none;
				}
			}

			@media (min-width: 371px) {
				flex: none;
				padding: {
					left: 0.3rem;
					right: 0.3rem;
				}
				gap: 0.2rem;
				min-width: 2.2rem;
				width: fit-content;

				& + & {
					margin-left: 0.2rem;
				}
			}
		}
	}
}

.plus-banner-text {
	text-shadow: 0.1rem 0.1rem 0 var(--color-background), 0.1rem 0.1rem 0.2rem var(--color-background);
}

.logo {
	font-size: 1.8rem;
	color: var(--gitlens-brand-color-2);
	font-weight: 500;
}

.description {
	color: #b68cd8;
	opacity: 0.6;
}

.activitybar-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	gap: 1.6rem;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: clamp(0.1rem, 2vw, 1.2rem);
		margin-bottom: 0;
	}
	svg {
		flex: none;
		max-width: 10rem;
		height: auto;
	}

	#no-repo[aria-hidden='false'] ~ & {
		display: none;
	}
}

#no-repo {
	margin-bottom: 0;

	&[aria-hidden='true'] {
		display: none;
	}
}

.video-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 0.8rem;
	background: no-repeat var(--video-banner-play) 1.2rem center, no-repeat var(--video-banner-bg) left center;
	background-color: var(--card-background);
	background-size: clamp(2.9rem, 8%, 6rem), cover;
	background-blend-mode: normal, overlay;
	aspect-ratio: var(--video-banner-ratio, 354 / 54);
	padding: 0.4rem 1.2rem;
	color: inherit;
	line-height: 1.2;
	font-size: clamp(var(--vscode-font-size), 4vw, 2.4rem);
	transition: aspect-ratio linear 100ms, background-color linear 100ms, background-position linear 200ms;
	border-radius: 0.4rem;

	@media (min-width: 277px) {
		background-blend-mode: normal, normal;
		background-position: center center, left center;
	}

	@media (min-width: 564px) {
		aspect-ratio: var(--video-banner-ratio, 354 / 40);
	}

	&:hover {
		background-color: var(--card-hover-background);
		text-decoration: none;
		color: inherit;
	}

	small {
		color: #8d778d;
	}
}

vscode-button {
	align-self: center;
	max-width: 300px;
	width: 100%;

	& + & {
		margin-top: 1rem;
	}
}

@media (min-width: 640px) {
	vscode-button {
		align-self: flex-start;
	}
}

@import '../shared/codicons';

// .codicon {
// 	position: relative;
// 	top: -2px;
// }

.type-tight {
	line-height: 1.2;
}

.mb-1 {
	margin-bottom: 0.4rem;
}
.mb-0 {
	margin-bottom: 0;
}

.hide {
	display: none;
}

.svg {
	&-activity-bar-bg {
		fill: var(--vscode-activityBar-background);
	}
	&-activity-bar-stop {
		stop-color: var(--vscode-activityBar-background);
	}
	&-activity-bar-fg {
		fill: var(--vscode-activityBar-foreground);
	}
	&-fg {
		fill: var(--vscode-foreground);
	}
	&-activity-bar-inactive {
		fill: var(--vscode-activityBar-inactiveForeground);
	}
	&-activity-bar-active {
		fill: var(--vscode-activityBar-activeBorder);
	}
	&-link {
		fill: var(--vscode-textLink-foreground);
	}
	&-mask-alpha {
		mask-type: alpha;
	}
}
