@use '../shared/styles/utils';
@use '../shared/styles/properties';
@use '../shared/styles/theme';

:root {
	--gitlens-z-inline: 1000;
	--gitlens-z-sticky: 1100;
	--gitlens-z-popover: 1200;
	--gitlens-z-cover: 1300;
	--gitlens-z-dialog: 1400;
	--gitlens-z-modal: 1500;
	--gitlens-brand-color: #914db3;
	--gitlens-brand-color-2: #a16dc4;
}

.vscode-high-contrast,
.vscode-dark {
	--progress-bar-color: var(--color-background--lighten-15);
	--card-background: var(--color-background--lighten-075);
	--card-hover-background: var(--color-background--lighten-10);
	--popover-bg: var(--color-background--lighten-15);
	--promo-banner-dark-display: inline-block;
}

.vscode-high-contrast-light,
.vscode-light {
	--progress-bar-color: var(--color-background--darken-15);
	--card-background: var(--color-background--darken-075);
	--card-hover-background: var(--color-background--darken-10);
	--popover-bg: var(--color-background--darken-15);
	--promo-banner-light-display: inline-block;
}

* {
	box-sizing: border-box;
}

// avoids FOUC for elements not yet called with `define()`
:not(:defined) {
	visibility: hidden;
}

[hidden] {
	display: none !important;
}

html {
	height: 100%;
	font-size: 62.5%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--color-view-background);
	color: var(--color-view-foreground);
	font-family: var(--font-family);
	min-height: 100%;
	line-height: 1.4;
	font-size: var(--vscode-font-size);

	&.scrollable,
	.scrollable {
		border-color: transparent;
		transition: border-color 1s linear;
	}

	&:hover,
	&:focus-within {
		&.scrollable,
		.scrollable {
			border-color: var(--vscode-scrollbarSlider-background);
			transition: none;
		}
	}

	&.preload {
		&.scrollable,
		.scrollable {
			transition: none;
		}
	}
}

::-webkit-scrollbar-corner {
	background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-color: inherit;
	border-right-style: inset;
	border-right-width: calc(100vw + 100vh);
	border-radius: unset !important;

	&:hover {
		border-color: var(--vscode-scrollbarSlider-hoverBackground);
	}

	&:active {
		border-color: var(--vscode-scrollbarSlider-activeBackground);
	}
}

:focus {
	@include utils.focus();
}

.sr-only,
.sr-only-focusable:not(:active):not(:focus) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

a {
	text-decoration: none;

	&:focus {
		@include utils.focus();
	}

	&:hover {
		text-decoration: underline;
	}
}

b {
	font-weight: 600;
}

p {
	margin-top: 0;
}

ul {
	margin-top: 0;
	padding-left: 1.2em;
}

.promo-banner {
	text-align: center;
	margin-bottom: 1rem;

	&--eyebrow {
		color: var(--color-foreground--50);
		margin-bottom: 0.2rem;
	}

	&__link {
		display: inline-block;
		font-size: 1.1rem;
		font-weight: bold;
		color: inherit;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}

	&--eyebrow &__link {
		display: block;
		white-space: nowrap;
		font-weight: normal;
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__media {
		// width: 100%;
		max-width: 9.9rem;
		height: auto;

		&.is-light {
			display: var(--promo-banner-light-display, none);
		}

		&.is-dark {
			display: var(--promo-banner-dark-display, none);
		}
	}
}

.home {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	overflow: hidden;

	&__header {
		flex: none;
		padding: 0 2rem;
		position: relative;
	}
	&__main {
		flex: 1;
		overflow: auto;
		padding: 0.8rem 2rem 0.4rem;

		background:
			linear-gradient(var(--color-view-background) 33%, var(--color-view-background)),
			linear-gradient(var(--color-view-background), var(--color-view-background) 66%) 0 100%,
			linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
			linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 0 100%;
		background-color: var(--color-view-background);
		background-repeat: no-repeat;
		background-attachment: local, local, scroll, scroll;
		background-size:
			100% 12px,
			100% 12px,
			100% 6px,
			100% 6px;
	}
	&__nav {
		flex: none;
		padding: 0 2rem;
	}

	&__header:not([hidden]) + &__main [data-requires='repo'] {
		opacity: 0.5;
		cursor: not-allowed;
		&:after {
			opacity: 0.5;
		}
	}

	&__header[hidden] + &__main [data-requires='norepo'] {
		display: none;
	}
}

.centered {
	text-align: center;
}

.one-line {
	white-space: nowrap;
}

.foreground {
	color: var(--color-view-foreground);
}

.inline-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__group {
		display: flex;
		flex-direction: row;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.2rem;
		height: 2.2rem;
		// line-height: 2.2rem;
		color: inherit;
		border-radius: 0.3rem;

		.code-icon {
			line-height: 1.6rem;
		}

		&:hover {
			color: inherit;
			text-decoration: none;

			.vscode-dark & {
				background-color: var(--color-background--lighten-10);
			}
			.vscode-light & {
				background-color: var(--color-background--darken-10);
			}
		}

		&--text {
			@media (max-width: 370px) {
				> :last-child {
					display: none;
				}
			}

			@media (min-width: 371px) {
				flex: none;
				padding: {
					left: 0.3rem;
					right: 0.3rem;
				}
				gap: 0.2rem;
				min-width: 2.2rem;
				width: fit-content;

				& + & {
					margin-left: 0.2rem;
				}
			}
		}
	}
}

.alert {
	position: relative;
	padding: 0.8rem 1.2rem;
	line-height: 1.2;
	margin-bottom: 1.2rem;
	background-color: var(--color-alert-neutralBackground);
	border-left: 0.3rem solid var(--color-alert-neutralBorder);
	color: var(--color-alert-foreground);

	&__title {
		font-size: 1.4rem;
		margin: 0;
	}

	&__description {
		font-size: 1.2rem;
		margin: 0.4rem 0 0;
	}

	&__close {
		position: absolute;
		top: 0.8rem;
		right: 0.8rem;
		color: inherit;
		opacity: 0.64;

		&:hover {
			color: inherit;
			opacity: 1;
		}
	}

	&.is-collapsed &__description,
	&.is-collapsed &__close gl-tooltip:first-child,
	&:not(.is-collapsed) &__close gl-tooltip:last-child {
		display: none;
	}

	&--info {
		background-color: var(--color-alert-infoBackground);
		border-left-color: var(--color-alert-infoBorder);
	}

	&--warning {
		background-color: var(--color-alert-warningBackground);
		border-left-color: var(--color-alert-warningBorder);
	}

	&--danger {
		background-color: var(--color-alert-errorBackground);
		border-left-color: var(--color-alert-errorBorder);
	}
}

gl-button.is-basic {
	max-width: 300px;
	width: 100%;

	& + & {
		margin-top: 1rem;
	}
}

.mb-0 {
	margin-bottom: 0;
}

@media (max-width: 280px) {
	.not-small {
		display: none;
	}
}
@media (min-width: 281px) {
	.only-small {
		display: none;
	}
}

.t {
	&-eyebrow {
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 600;
		color: var(--color-foreground--50);
		margin: 0;
	}

	&-subtle {
		color: var(--color-foreground--50);
	}
}

.nav-list {
	margin: {
		left: -2rem;
		right: -2rem;
	}
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	align-items: stretch;
	margin-bottom: 1.6rem;

	&__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.8rem;
		padding: 0.4rem 2rem;

		&:hover,
		&:focus-within {
			background-color: var(--vscode-list-hoverBackground);
			color: var(--vscode-list-hoverForeground);
		}

		&:has(:first-child:focus) {
			@include utils.focus();
		}

		&:has(:active) {
			background-color: var(--vscode-list-activeSelectionBackground);
			color: var(--vscode-list-activeSelectionForeground);
		}
	}

	&__link {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.8rem;
		color: inherit;

		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}

		&:focus {
			outline: none;
		}
	}

	&__icon {
		flex: none;
		opacity: 0.5;
	}

	&__label {
		flex: 1;
		font-weight: 600;
	}

	&__desc {
		color: var(--color-foreground--65);
		font-variant: all-small-caps;
		margin-left: 1rem;
	}

	&__group {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}

	&__group &__label {
		width: auto;
	}

	&__access {
		flex: none;
		position: relative;
		left: 1.5rem;
		font-size: x-small;
		outline: none;
		white-space: nowrap;

		--gl-feature-badge-color: color-mix(in srgb, transparent 40%, currentColor);
		--gl-feature-badge-border-color: color-mix(in srgb, transparent 40%, var(--color-foreground--50));
	}

	&__item:hover &__label {
		text-decoration: underline;
	}

	&__item:hover &__desc {
		color: var(--color-foreground);
	}

	&__item:focus-within &__access,
	&__item:hover &__access {
		--gl-feature-badge-color: currentColor;
		--gl-feature-badge-border-color: var(--color-foreground--50);
	}

	&__title {
		padding: 0 2rem;
	}
}

.button-container {
	margin: 1rem auto 0;
	text-align: left;
	max-width: 30rem;
	transition: max-width 0.2s ease-out;
}

@media (min-width: 640px) {
	.button-container {
		max-width: 100%;
	}
}

.button-container--trio {
	> gl-button:first-child {
		margin-bottom: 0.4rem;
	}
}

.button-group {
	display: inline-flex;
	gap: 0.4rem;

	&--single {
		width: 100%;
		max-width: 30rem;
	}

	gl-button {
		margin-top: 0;

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.t-eyebrow.sticky {
	top: -8px;
}
