@import 'base';
@import 'buttons';
@import 'utils';

body {
	height: unset;
}

.container {
	display: grid;
	font-size: 1.3em;
	grid-template-areas: 'header' 'entries' 'shortcuts' 'actions';
	grid-template-columns: repeat(1, 1fr min-content);
	margin: 1em auto;
	grid-gap: 0.5em 3em;
	max-width: 1200px;
	min-width: 450px;

	@media all and (max-width: 768px) {
		grid-gap: 0.5em 0;
	}
}

header {
	display: flex;
	align-items: baseline;
	margin: 0 0 1em 0;
}

h4 {
	font-size: 1em;
	opacity: 0.8;
}

.entries {
	grid-area: entries;
	// border-left: 2px solid var(--color-highlight);
	border-left: 2px solid;
	margin-left: 10px;
	padding-left: 4px;

	.vscode-dark & {
		border-color: var(--color-background--lighten-15);
	}
	.vscode-light & {
		border-color: var(--color-background--darken-15);
	}
}

.entries--empty {
	border: none;

	h3 {
		margin: 1em auto;
		width: fit-content;
	}
}

.shortcuts {
	grid-area: shortcuts;
	margin: 0 auto;
}

.actions {
	grid-area: actions;
	margin: 10px;
}

.entry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
	padding: 10px 0;
	border: 2px solid transparent;
	border-radius: 3px;

	&::after {
		display: inline-block;
		content: ' ';
		background-color: var(--color-background);
		// border: 2px solid var(--color-highlight);
		border: 2px solid var(--color-foreground--50);
		border-radius: 50%;
		height: 12px;
		width: 12px;
		margin-left: -25px;
		position: absolute;
		z-index: 2;
	}

	&:focus-within {
		outline: none;
		border: 2px solid var(--color-highlight--50);
		border-radius: 3px;
	}

	&.entry--base {
		margin-left: 10px;

		.vscode-dark & {
			background: rgba(255, 255, 255, 0.1);
		}

		.vscode-light & {
			background: rgba(0, 0, 0, 0.1);
		}

		// &::after {
		// 	background-color: var(--color-highlight);
		// }

		&:focus,
		&:focus-within {
			outline: none !important;
		}
	}

	&.entry--squash-to {
		&::after {
			border: 2px solid rgba(212, 153, 0, 1);
			z-index: 3;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-left: 2px solid rgba(212, 153, 0, 1);
			height: 32px;
			width: 2px;
			margin-left: -18px;
			margin-top: -10px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--edit,
	&.entry--reword {
		&::after {
			border: 2px solid rgba(0, 153, 0, 1);
			z-index: 3;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-left: 2px solid rgba(0, 153, 0, 1);
			height: 48px;
			width: 2px;
			margin-left: -18px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--squash,
	&.entry--fixup {
		&::after {
			display: none;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-left: 2px solid rgba(212, 153, 0, 1);
			height: 64px;
			width: 2px;
			margin-left: -18px;
			margin-top: 6px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--drop {
		&::after {
			display: none;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-left: 2px solid rgba(153, 0, 0, 1);
			height: 48px;
			width: 2px;
			margin-left: -18px;
			position: absolute;
			z-index: 1;
		}
	}

	&:nth-last-child(2) {
		& select {
			& > option[value='squash'],
			& > option[value='fixup'] {
				display: none;
			}
		}

		&.entry--squash-to {
			& select {
				& > option[value='drop'] {
					display: none;
				}
			}
		}
	}
}

.entry--drag {
	opacity: 0 !important;
}

.entry--dragging {
	background: var(--color-highlight--25);
	opacity: 0.8;
}

.entry-handle {
	display: inline-block;
	border-left: 2px dotted;
	border-right: 2px dotted;
	height: 14px;
	width: 3px;
	margin-left: 10px;
	cursor: ns-resize;

	.vscode-dark & {
		border-color: var(--color-foreground--75);
	}

	.vscode-light & {
		border-color: var(--color-foreground--75);
	}
}

.entry-action {
	flex: auto 0 0;
	margin: 0 10px;

	.entry--edit > &,
	.entry--reword > & {
		& > select {
			border: 1px solid rgba(0, 153, 0, 1) !important;
			outline-color: rgba(0, 153, 0, 1) !important;
		}
	}

	.entry--squash > &,
	.entry--fixup > & {
		& > select {
			border: 1px solid rgba(212, 153, 0, 1) !important;
			outline-color: rgba(212, 153, 0, 1) !important;
		}
	}

	.entry--drop > & {
		& > select {
			border: 1px solid rgba(153, 0, 0, 1) !important;
			outline-color: rgba(153, 0, 0, 1) !important;
		}
	}
}

.entry-message {
	flex: 100% 1 1;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	.entry--drop & {
		text-decoration: line-through;
		opacity: 0.25;
	}
}

.entry-avatar {
	flex: auto 0 0;
	margin: 0 -5px 0 0;

	.entry--squash &,
	.entry--fixup &,
	.entry--drop & {
		opacity: 0.25;
	}
}

.entry-author,
.entry-date,
.entry-ref {
	flex: auto 0 0;
	margin: 0 10px;
	opacity: 0.5;

	.vscode-light & {
		opacity: 0.6;
	}

	.entry--squash &,
	.entry--fixup &,
	.entry--drop & {
		text-decoration: line-through;
		opacity: 0.25;
	}
}

.shortcut {
	display: inline-block;
	margin: 5px 10px 5px 0;
	opacity: 0.6;

	& span {
		margin: 0 0 0 5px;
	}
}

.branch {
	&::before {
		content: '\ea68';
		font-family: codicon;
		position: relative;
		top: 2px;
		margin: 0 3px;
	}
}

.commit {
	&::before {
		content: '\eafc';
		font-family: codicon;
		position: relative;
		top: 2px;
		margin: 0 1px 0 -1px;
	}
}
