@import 'base';
@import 'buttons';
@import 'utils';

body {
	height: unset;
}

.container {
	display: grid;
	font-size: 1.3em;
	grid-template-areas: 'header' 'entries' 'shortcuts' 'actions';
	grid-template-columns: repeat(1, 1fr min-content);
	margin: 0 auto;
	grid-gap: 0.5em 0;
	max-width: 1200px;
	min-width: 450px;
}

header {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	margin: 0;

	h2 {
		flex: auto 0 1;
		margin-top: 0.5em;
		margin-right: 1em;
		font-size: 2.3rem;
	}

	h4 {
		flex: auto 1 1;
		margin-top: 0;
	}

	h3,
	h4#subhead-status {
		flex: 100% 1 1;
		margin: 0.25em 0 0.5em 0;
	}

	& > *[class^='icon--'],
	& > *[class*=' icon--'] {
		&::before {
			opacity: 0.7;
			font-size: 1.4em;
			top: 5px;
			line-height: 0.6em;
		}
	}
}

h4 {
	font-size: 1.5rem;
	opacity: 0.8;
}

.entries {
	grid-area: entries;
	border-left: 2px solid;
	margin-left: 10px;
	padding-left: 4px;

	.vscode-dark & {
		border-color: var(--color-background--lighten-15);
	}
	.vscode-light & {
		border-color: var(--color-background--darken-15);
	}
}

.entries--empty {
	border: none;

	h3 {
		margin: 1em auto;
		width: fit-content;
	}
}

.shortcuts {
	grid-area: shortcuts;
	margin: 0 auto;
}

.actions {
	grid-area: actions;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.actions--left {
	display: flex;
}

.actions--right {
	display: flex;
	margin-left: auto;
}

$entry-padding: 5px;

.entry {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
	padding: $entry-padding 0;
	border: 2px solid transparent;
	border-radius: 3px;
	position: relative;

	&::after {
		display: inline-block;
		content: ' ';
		background-color: var(--color-background);
		border: 2px solid var(--color-foreground--75);
		border-radius: 50%;
		height: 12px;
		width: 12px;
		margin-left: -25px;
		position: absolute;
		z-index: 2;
	}

	&:focus-within {
		outline: none;
		border: 2px solid var(--color-highlight--50);
		border-radius: 3px;
	}

	&.entry--edit,
	&.entry--reword {
		&::after {
			border: 2px solid rgba(0, 153, 0, 1) !important;
			z-index: 3;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-right: 2px solid rgba(0, 153, 0, 1);
			height: #{28px + ($entry-padding * 2)};
			margin-left: -18px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--squash,
	&.entry--fixup {
		&::after {
			display: none;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-right: 2px solid rgba(212, 153, 0, 1);
			height: #{31px + ($entry-padding * 2)};
			margin-left: -18px;
			margin-top: 6px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--drop {
		&::after {
			display: none;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-right: 2px solid rgba(153, 0, 0, 1);
			height: #{28px + ($entry-padding * 2)};
			margin-left: -18px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--squash-to {
		&::after {
			border: 2px solid rgba(212, 153, 0, 1) !important;
			z-index: 3;
		}

		&::before {
			display: inline-block;
			content: ' ';
			background-color: var(--color-background);
			border-right: 2px solid rgba(212, 153, 0, 1);
			height: 40px;
			margin-left: -18px;
			margin-top: -5px;
			position: absolute;
			z-index: 1;
		}
	}

	&.entry--base,
	&.entry--done {
		margin-top: 5px;

		& > .entry-action {
			opacity: 0.8;
		}

		& > .entry-message,
		& > .entry-avatar {
			opacity: 0.4;
		}

		& > .entry-author,
		& > .entry-date {
			opacity: 0.3;
		}

		& > .entry-ref {
			opacity: 0.4;
		}

		&::after {
			border: 2px solid var(--color-foreground--50);
		}

		&:focus,
		&:focus-within {
			border-color: transparent !important;
			outline: none !important;
		}

		& ~ .entry--done {
			margin-top: 0;
		}

		& > .entry-action {
			&::after {
				opacity: 0.7;
			}
		}
	}

	&.entry--base {
		margin-top: 10px;

		.vscode-dark & {
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2);
		}

		.vscode-light & {
			background: rgba(0, 0, 0, 0.1);
			box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
		}
	}

	.entries--base &:nth-last-of-type(2),
	:not(.entries--base) &:nth-last-of-type(1) {
		& select {
			& > option[value='squash'],
			& > option[value='fixup'] {
				display: none;
			}
		}

		&.entry--squash-to {
			& select {
				& > option[value='drop'] {
					display: none;
				}
			}
		}
	}
}

.entry--drag {
	opacity: 0 !important;
}

.entry--dragging {
	background: var(--color-highlight--25);
	opacity: 0.8;
}

.entry-handle {
	display: inline-block;
	border-left: 2px dotted;
	border-right: 2px dotted;
	height: 14px;
	width: 3px;
	margin-left: 10px;
	cursor: ns-resize;

	.vscode-dark & {
		border-color: var(--color-foreground--75);
	}

	.vscode-light & {
		border-color: var(--color-foreground--75);
	}
}

.entry-action {
	flex: auto 0 0;
	margin: 0 10px;

	.entry--edit > &,
	.entry--reword > & {
		& > select {
			border: 1px solid rgba(0, 153, 0, 1) !important;
			outline-color: rgba(0, 153, 0, 1) !important;
		}
	}

	.entry--squash > &,
	.entry--fixup > & {
		& > select {
			border: 1px solid rgba(212, 153, 0, 1) !important;
			outline-color: rgba(212, 153, 0, 1) !important;
		}
	}

	.entry--drop > & {
		& > select {
			border: 1px solid rgba(153, 0, 0, 1) !important;
			outline-color: rgba(153, 0, 0, 1) !important;
		}
	}
}

.entry-message {
	flex: 100% 1 1;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	.entry--fixup &,
	.entry--drop & {
		text-decoration: line-through;
		opacity: 0.25;
	}
}

.entry-avatar {
	flex: auto 0 0;
	margin: 0 -5px 0 0;
	max-height: 16px;
	max-width: 16px;

	.entry--squash &,
	.entry--fixup &,
	.entry--drop & {
		opacity: 0.25 !important;
	}
}

.entry-author,
.entry-date,
.entry-ref {
	flex: auto 0 0;
	margin: 0 10px;
	opacity: 0.5;

	.vscode-light & {
		opacity: 0.6;
	}

	.entry--squash &,
	.entry--fixup &,
	.entry--drop & {
		text-decoration: line-through;
		opacity: 0.25 !important;
	}
}

.entry-ref {
	opacity: 0.7;
}

.shortcut {
	display: inline-block;
	margin: 5px 10px 5px 0;
	opacity: 0.6;

	& span {
		margin: 0 0 0 5px;
	}
}

@import 'codicons';
// @import 'snow';
