@mixin focusStyles() {
	outline: 1px solid var(--vscode-focusBorder);
	outline-offset: -1px;
}

:root {
	--gitlens-z-inline: 1000;
	--gitlens-z-sticky: 1100;
	--gitlens-z-popover: 1200;
	--gitlens-z-cover: 1300;
	--gitlens-z-dialog: 1400;
	--gitlens-z-modal: 1500;
}

body {
	--avatar-size: 2.4rem;
	--focus-color: var(--vscode-focusBorder);
	--table-separator: var(--vscode-textSeparator-foreground);
	--table-heading: var(--color-foreground--50);
	--table-text: var(--color-foreground--65);
	--table-pinned-background: var(--color-background);
	--layout-gutter-outer: 20px;
}

.vscode-high-contrast,
.vscode-dark {
	--avatar-bg: var(--color-background--lighten-30);
	--background-05: var(--color-background--lighten-05);
	--background-075: var(--color-background--lighten-075);
	--background-10: var(--color-background--lighten-10);
	--background-15: var(--color-background--lighten-15);
	--background-30: var(--color-background--lighten-30);
	--background-50: var(--color-background--lighten-50);
	--popover-bg: var(--color-background--lighten-15);
}

.vscode-high-contrast-light,
.vscode-light {
	--avatar-bg: var(--color-background--darken-30);
	--background-05: var(--color-background--darken-05);
	--background-075: var(--color-background--darken-075);
	--background-10: var(--color-background--darken-10);
	--background-15: var(--color-background--darken-15);
	--background-30: var(--color-background--darken-30);
	--background-50: var(--color-background--darken-50);
	--popover-bg: var(--color-background--darken-15);
}

:root {
	font-size: 62.5%;
	font-family: var(--font-family);
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--color-foreground);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:not(:defined) {
	visibility: hidden;
}

[hidden] {
	display: none !important;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a,
button:not([disabled]),
[tabindex]:not([tabindex='-1']) {
	&:focus {
		@include focusStyles();
	}
}

code-icon {
	font-size: inherit;
}

h2,
h3,
p {
	margin-top: 0;
}

.tag {
	display: inline-block;
	padding: 0.1rem 0.2rem;
	background-color: var(--color-background--lighten-05);
	color: var(--color-foreground--85);

	code-icon {
		margin-right: 0.2rem;
	}
}

.button {
	width: 2.4rem;
	height: 2.4rem;
	padding: 0;
	color: inherit;
	border: none;
	background: none;
	text-align: center;
	font-size: 1.6rem;
}
.button[disabled] {
	color: var(--vscode-disabledForeground);
}
.button:focus {
	background-color: var(--vscode-toolbar-activeBackground);
	outline: 1px solid var(--vscode-focusBorder);
	outline-offset: -1px;
}
.button:not([disabled]) {
	cursor: pointer;
}
.button:hover:not([disabled]) {
	color: var(--vscode-foreground);
	background-color: var(--vscode-toolbar-hoverBackground);
}

.alert {
	display: flex;
	flex-direction: row;
	padding: 0.8rem 1.2rem;
	background-color: var(--color-alert-neutralBackground);
	border-left: 0.3rem solid var(--color-foreground--50);
	color: var(--color-alert-foreground);

	code-icon {
		margin-right: 0.4rem;
		vertical-align: baseline;
	}

	&__content {
		font-size: 1.2rem;
		line-height: 1.2;
		text-align: left;
	}
}

.tab-filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;

	&__tab {
		padding: 0.2rem 0;
		text-transform: uppercase;
		color: var(--color-foreground--65);
		border: none;
		background: none;
		text-align: center;
		font-size: 1.1rem;
		border-bottom: 0.1rem solid transparent;
		cursor: pointer;

		&.is-active {
			color: var(--vscode-foreground);
			border-bottom-color: var(--color-foreground);
		}
	}
}

.focus-icon {
	font-size: 1.6rem;
	vertical-align: sub;
}

.focus-section {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;

	&__header {
		flex: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0.4rem 0;

		h2 {
			margin: 0;
		}
	}

	&__content {
		min-height: 0;
		flex: 1 1 auto;
		overflow: auto;
	}
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	// padding-right: 0;

	&__header {
		flex: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.4rem 2rem;
		margin: {
			left: -2rem;
			right: -2rem;
		}

		text-align: right;
		background-color: var(--background-05);
	}

	&__content {
		position: relative;
		flex: 1 1 auto;
		// display: flex;
		// flex-direction: row;
		overflow: hidden;
		gap: 1rem;
	}

	&__controls {
		flex: 0 0 20rem;
	}

	&__main {
		// flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		height: 100%;
	}
	&__section {
		min-height: 15rem;
		flex: 0 1 50%;
	}

	&__cover {
		[aria-hidden='true'] & {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			backdrop-filter: blur(4px) saturate(0.8);
			z-index: var(--gitlens-z-cover);
			pointer-events: none;
		}
	}
}

.tag {
	display: inline-block;
	padding: 0.1rem 0.2rem;
	background-color: var(--background-05);
	color: var(--color-foreground--85);
	white-space: nowrap;
}
.tag code-icon {
	margin-right: 0.2rem;
}

.stat-added {
	white-space: nowrap;
	color: var(--vscode-gitDecoration-addedResourceForeground);
}
.stat-deleted {
	white-space: nowrap;
	color: var(--vscode-gitDecoration-deletedResourceForeground);
}
.stat-modified {
	white-space: nowrap;
	color: var(--vscode-gitDecoration-modifiedResourceForeground);
}

.data {
	&-status {
		width: 5.8rem;
	}
	&-time {
		width: 4rem;
	}
	&-body {
	}
	&-author {
		width: 8.8rem;
	}
	&-assigned {
		width: 8.8rem;
	}
	&-comments {
		width: 4rem;
	}
	&-checks {
		width: 3.2rem;
	}
	&-stats {
		width: 9.2rem;
	}
	&-actions {
	}
}

.choice {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	color: var(--vscode-checkbox-foreground);
	margin: 0.4rem 0;
	user-select: none;

	&:focus-within {
		outline: 1px solid var(--vscode-focusBorder);
		outline-offset: -1px;
	}

	&__input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
	}

	&__indicator {
		position: relative;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--vscode-checkbox-background);
		border: 0.1rem solid var(--vscode-checkbox-border);
		width: 1.8rem;
		height: 1.8rem;
		outline: none;
		cursor: pointer;

		&,
		code-icon {
			border-radius: 0.3rem;
			overflow: hidden;
		}
	}

	&__input[type='radio'] + &__indicator {
		border-radius: 99.9rem;
	}

	&__input:not(:checked) + &__indicator code-icon {
		opacity: 0;
	}

	&__label {
		font-family: var(--font-family);
		color: var(--vscode-checkbox-foreground);
		padding-inline-start: 1rem;
		margin-inline-end: 1rem;
		cursor: pointer;
	}
}

.overlay {
	z-index: var(--gitlens-z-modal);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.3em;
	min-height: 100%;
	padding: 0 2rem 2rem 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__content {
		max-width: 600px;
		background: var(--background-05) no-repeat left top;
		background-image: var(--gl-plus-bg);
		background-position: left -20rem center;
		background-size: 100%;
		border: 1px solid var(--background-15);
		border-radius: 0.4rem;
		margin: 1rem;
		padding: 1.2rem;

		> p:first-child {
			margin-top: 0;
		}

		vscode-button:not([appearance='icon']) {
			align-self: center !important;
		}
	}

	&__actions {
		text-align: center;
		margin: 3rem 0;
	}
}

.divider {
	display: block;
	height: 0;
	margin: 0.6rem;
	border: none;
	border-top: 0.1rem solid var(--vscode-menu-separatorBackground);
}

.badge {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-foreground);
}
