@use '../shared/styles/utils';
@use '../shared/styles/properties';
@use '../shared/styles/normalize';

// normalize type
body {
	line-height: 1.4;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a,
button:not([disabled]),
[tabindex]:not([tabindex='-1']) {
	&:focus {
		@include utils.focus();
	}
}

// code-icon {
// 	font-size: inherit;
// }

nav {
	margin-bottom: 1.6rem;
}

h1,
h2,
p {
	margin-top: 0;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 0.4rem;
	font-size: 1.4rem;
	font-weight: normal;
}

h4 {
	margin-top: 1rem;
	margin-bottom: 0.4rem;
	font-weight: normal;
}

.checkbox {
	cursor: pointer;
	position: relative;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
}

input[type='checkbox'] {
	position: relative;
	appearance: none;
	cursor: pointer;
	width: 2rem;
	height: 2rem;

	border: 1px solid var(--vscode-input-border);
	background-color: var(--vscode-checkbox-background);
	border-color: var(--vscode-checkbox-border);
	border-radius: 0.25rem;
	color: var(--vscode-checkbox-foreground);
	outline: none;
	margin-right: 0.5rem;
	vertical-align: middle;
	transition: border-color 0.1s ease-in-out;

	&::after {
		content: '';
		border: 0.2rem solid var(--vscode-checkbox-foreground);
		border-width: 0 0.2rem 0.2rem 0;
		position: absolute;
		top: 0.2rem;
		left: 0.6rem;
		height: 1.2rem;
		width: 0.6rem;

		opacity: 0;
		transform: rotate(0deg);
		transition: 0.2s ease-in-out;
	}

	&:checked {
		background-color: var(--vscode-checkbox-selectBackground);
		border-color: var(--vscode-checkbox-selectBorder);

		&::after {
			opacity: 1;
			transform: rotate(45deg);
		}
	}

	&:hover,
	&:focus {
		background-color: var(--vscode-checkbox-selectBackground);
		border-color: var(--vscode-focusBorder);
	}
}

label {
	vertical-align: middle;
	cursor: pointer;
}

p,
li {
	color: var(--color-foreground--65);
}

.t {
	&-desc {
		font-size: 1.4rem;
		color: var(--color-foreground);
	}

	&-feature {
		font-size: 1.4rem;
		color: var(--color-foreground--85);
		line-height: 2rem;
		max-width: 692px;
	}

	&-eyebrow {
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 600;
		color: var(--color-foreground--50);
		margin: 0;
	}
}

gk-card p {
	margin: 0;
}

.video-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-color: var(--gk-card-background);
	padding: 0 2rem 0 0;
	color: inherit;
	transition: background-color ease-in-out 150ms;
	border-radius: 0.4rem;
	position: relative;
	overflow: hidden;
	height: 70px;

	> svg {
		transform: scale(1.2);
		transition: transform ease-in-out 150ms;
	}

	&:hover {
		background-color: var(--gk-card-hover-background);
		text-decoration: none;
		color: inherit;

		& > svg {
			transform: scale(1.4);
		}

		&::before {
			transform: translateX(-3px) scale(1.05);
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: no-repeat var(--video-banner-bg) left center;
		background-size: cover;
		transition: transform ease-in-out 150ms;
	}
}

.welcome {
	padding: var(--gitlens-gutter-width);

	#version {
		color: var(--color-foreground);
		font-weight: 600;
	}

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.6rem;
		margin-bottom: 1.6rem;
	}

	&__brand {
		margin: 0;

		small {
			display: inline-block;
			font-size: 1.6rem;
			font-weight: 200;
			color: var(--color-foreground--50);
			transform: translateY(0.3rem);
			margin-left: 1rem;
		}
	}

	&__release {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0;
	}

	&__main {
		// display: flex;
		// flex-direction: column;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		gap: 1.6rem 3rem;
	}

	&__section {
		&:first-child {
			margin: 0 3rem;
		}

		& + & {
			// border-top: 1px solid var(--vscode-editorWidget-border);
			padding-top: 0.5rem;
			max-width: 692px;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&__toolbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1.6rem;
		justify-content: space-between;

		:last-child {
			flex: none;
		}
	}

	&__illustration {
		max-width: 69.2rem;
		width: 100%;
		height: auto;

		&--graph {
			object-fit: cover;
			object-position: top;
			aspect-ratio: 3.6;
			border-radius: 0.9rem;
			// box-shadow: 0 0 0 0.1rem #444444;
			border: 0.1rem solid var(--vscode-editorWidget-border);
		}
	}

	&__plus-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.6rem;
	}

	&__starting-nav {
		max-width: 69.2rem;
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}

	&__views-nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.8rem 2rem;
		// width: min-content;

		@container (max-width: 550px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		> * {
			white-space: nowrap;
		}

		a {
			color: var(--color-foreground);
		}
		code-icon {
			margin-right: 1rem;
			color: var(--color-foreground--50);
			transform: translateY(-0.2rem);
			vertical-align: middle;
		}
	}

	&__resources-nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 0.6rem 2rem;

		h3 {
			flex-basis: 100%;
			margin-bottom: -0.6rem;
		}

		a {
			font-size: 1.4rem;
			color: inherit;
		}

		code-icon {
			margin-right: 0.8rem;
		}
	}

	@media (min-width: 744px) {
		&__main {
			grid-template-columns: 3fr 2fr;
			grid-template-rows: min-content min-content min-content 1fr;
		}
		&__section {
			grid-column: 1;

			&:nth-child(3) {
				grid-column: 2;
				grid-row: 1 / 5;
				border-top: none;
				padding-top: 0;
			}
		}

		&__plus-cards {
			display: flex;
			flex-direction: column;
		}
	}

	@media (min-width: 880px) {
		&__main {
			grid-template-columns: 4fr 2fr;
		}
	}

	@media (min-width: 1200px) {
		margin: 0 auto;
		max-width: 1200px;
	}
}

.editor {
	border: 0.1rem solid var(--vscode-editorWidget-border);

	* {
		user-select: none;
	}

	&-line text {
		font-family: var(--vscode-editor-font-family);
		font-size: var(--vscode-editor-font-size);
		font-weight: var(--vscode-editor-font-weight);
	}

	&-cursor {
		fill: var(--vscode-editorCursor-foreground);
	}

	&-blame {
		fill: var(--vscode-gitlens-trailingLineForegroundColor);

		&.is-disabled {
			opacity: 0;
		}
	}

	&-codelens text {
		font-family: var(--vscode-font-family);
		font-size: var(--vscode-font-size);
		font-weight: var(--vscode-font-weight);

		fill: var(--vscode-editorCodeLens-foreground);

		tspan {
			font-size: 0.8em;
		}

		&.is-disabled {
			opacity: 0;
		}
	}

	&-heatmap {
		stroke: #7162db;
	}

	&-punctuation {
		fill: var(--vscode-editor-foreground);
	}

	&-function-declaration {
		fill: var(--vscode-symbolIcon-functionForeground);
	}

	&-function-name {
		fill: var(--vscode-symbolIcon-colorForeground);
	}

	&-function-argument {
		fill: var(--vscode-symbolIcon-variableForeground);
	}

	&-function-argument-type {
		fill: var(--vscode-symbolIcon-typeParameterForeground);
	}

	&-function-return {
		fill: var(--vscode-debugTokenExpression-name);
	}

	&-line-current {
		fill: var(--vscode-editor-lineHighlightBackground);
		stroke: var(--vscode-editor-lineHighlightBorder);
		stroke-width: 0.1rem;
		fill-opacity: 0.8;
	}

	&-line-number {
		fill: var(--vscode-editorLineNumber-foreground);
	}

	&-line-number-active {
		fill: var(--vscode-editorLineNumber-activeForeground);
	}

	&-gutter {
		fill: var(--vscode-gitlens-gutterBackgroundColor);
	}

	&-gutter-avatar {
		circle {
			fill: var(--vscode-editorInfo-foreground);
		}
		text {
			fill: var(--vscode-gitlens-gutterForegroundColor);
			font-size: 0.75rem;
		}
	}

	&-gutter-text {
		fill: var(--vscode-gitlens-gutterForegroundColor);
	}

	&-removed-line {
		fill: var(--vscode-diffEditor-removedLineBackground);
	}
	&-added-line {
		fill: var(--vscode-diffEditor-insertedLineBackground);
	}

	&-added-text {
		outline: 1px solid green; //var(--vscode-diffEditor-insertedTextBackground)
		fill: green; //var(--vscode-diffEditor-insertedTextBackground);
	}

	&-splitter {
		fill: var(--vscode-editorGroup-border);
	}
}

.toolbar {
	fill: var(--vscode-menu-background);

	&-icon {
		fill: var(--vscode-icon-foreground);

		&-annotations {
			path:first-child {
				fill: #f05133;
				stroke: none;
			}

			path:last-child {
				fill: var(--vscode-menu-background);
			}

			body[data-feature-annotations='off'] &,
			&.inactive {
				path:first-child {
					fill: none;
					stroke: var(--vscode-icon-foreground);
				}

				path:last-child {
					fill: var(--vscode-icon-foreground);
				}
			}
		}

		&-accent {
			fill: var(--color-foreground);
			opacity: 0.2;
		}

		&.active {
			fill: var(--color-foreground);
		}

		&.inactive {
			opacity: 0.6;
		}
	}
}

[data-action] {
	cursor: pointer;
}

body[data-feature-blame='off'] {
	[data-feature-blame='on'] {
		opacity: 0;
	}
}

.editor-blame-block,
[data-feature-blame='on'],
[data-feature-codelens='on'] {
	transition: opacity 150ms ease-in-out;
}

.editor-code-block {
	transition: transform 150ms ease-in-out;
}

body[data-feature-codelens='off'] {
	[data-feature-codelens='on'] {
		opacity: 0;
	}
}

body[data-feature-annotations='off'] {
	.editor-blame-block {
		opacity: 0;
	}
	.editor-code-block {
		transform: translateX(-242px);
	}
}
