@import '../shared/base';
@import '../shared/buttons';
@import '../shared/icons';

body {
	&.vscode-light {
		background-color: var(--color-background--darken-05);
	}
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: max-content minmax(396px, auto);
	grid-gap: 1em 4em;
	align-items: center;
	margin: 0 2em;

	@media all and (max-width: 768px) {
		grid-template-columns: auto;
		justify-items: center;
		grid-gap: 1rem;
	}
}

.blurb {
	font-size: 1.5rem;
	font-weight: 200;
	color: var(--color-foreground--65);
	margin: 1em;

	b {
		color: var(--color-foreground--85);
	}

	.vscode-light & {
		color: var(--color-foreground--75);
	}
}

.command {
	font-weight: 600;
	padding: 1px 3px;
}

.container {
	display: grid;
	grid-template-areas: 'banner banner' 'header header' 'hero hero' 'content sidebar';
	grid-template-columns: repeat(1, 1fr min-content);
	grid-gap: 1em 0;
	margin: 1em auto;
	max-width: 1200px;
	min-width: 450px;
}

.banner {
	grid-area: banner;
	margin: 1em;
	display: flex;

	img {
		border-radius: 8px;
	}
}

.content__area {
	grid-area: content;
	font-size: 1.4rem;

	.vscode-dark & {
		background-color: var(--color-background--lighten-05);
	}

	.vscode-light & {
		background-color: var(--color-background);
	}

	@media all and (max-width: 768px) {
		grid-column: span 1;
	}
}

.content__area--full-scroll {
	background-color: unset !important;
	margin-bottom: 90vh;

	.section--settings {
		margin: 0 0 1em;
	}
}

.cta {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.3rem;
	margin: 0;

	& p {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: -0.5em;
		opacity: 0.6;
	}
}

.cta--primary {
	margin: 0 1em;
}

.cta--secondary {
	margin: 0 1em;
}

.header__blurb {
	color: var(--color-foreground--75);
	font-size: 1.5rem;
	font-weight: 200;
	margin: 0;
	text-align: justify;
}

.header__link {
	color: var(--color-foreground);
	outline: none;
	margin: 0 1rem 0.75rem 2rem;

	&:hover,
	&:active,
	&:focus {
		color: var(--color-foreground);
		outline: none;
	}

	@media all and (max-width: 768px) {
		margin: 0 0 0.75rem;
	}
}

.header__logo {
	display: flex;
	flex-wrap: nowrap;
}

.header__title {
	font-family: 'Segoe UI Semibold', var(--font-family);
}

.header__title--highlight {
	color: #914db3;
}

.header__subtitle {
	color: var(--color-foreground--65);
	font-family: 'Segoe UI Light', var(--font-family);
	font-size: 2rem;
	font-weight: 100;
	margin: -0.5em 0 0 4px;
	white-space: nowrap;
}

.hero__area {
	grid-area: hero;
	color: var(--color-foreground--75);
	font-size: 1.5rem;
	font-weight: 200;
	margin: 0 1em;

	b {
		color: var(--color-foreground--85);
	}
}

.image__logo {
	margin: 9px 1em 0 0;
	max-height: 64px;
	max-width: 64px;
}

.image__preview {
	border-radius: 8px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8), 0 0 12px 1px rgba(0, 0, 0, 0.5);
	width: 600px;
}

.image__preview--overlay {
	left: 0;
	position: absolute;
	top: 0;
}

.link__configure,
.link__learn-more {
	margin-left: 10px;
}

.presets {
	align-items: baseline;
	justify-content: center;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 1em;
}

.preset {
	text-align: center;
	margin: 0 1em;

	p {
		color: var(--color-foreground--75);
		display: block;
		font-weight: 200;
		font-size: 1.3rem;
		margin: -0.5em 1em 0.5em;
		text-align: center;
	}

	.image__preview {
		display: flex;
		width: auto;
		margin-top: 1em;
	}
}

section {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	padding: 1em;

	h2 {
		flex: 1 0 auto;
		display: flex;
		margin-top: 0;
		margin-bottom: 1em;
	}
}

.section--full {
	flex-flow: column;
}

.section--settings {
	flex: 0 1 auto;
	display: flex;
	flex-wrap: wrap;
	border-radius: 6px;
	margin: 1em;
	padding: 1em;

	.vscode-dark & {
		background: var(--color-background--lighten-075);
	}

	.vscode-light & {
		background: var(--color-background--darken-05);
	}
}

.section__content {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column wrap;
}

.section__header {
	display: flex;
	align-items: baseline;
	flex: 0 1 auto;
	flex-flow: column;
	margin-bottom: 1em;
	margin-right: 1em;
	position: relative;

	h2 {
		margin-bottom: 0;
	}

	.link__configure,
	.link__learn-more {
		visibility: hidden;
	}

	&:hover {
		.link__configure,
		.link__learn-more {
			visibility: visible;
		}
	}
}

.section__header-hint {
	color: var(--color-foreground--75);
	font-weight: 200;
	margin: 0.25em 0;
}

.section__hint {
	flex: 0 0 auto;
	color: var(--color-foreground--75);
	font-weight: 200;
	margin: 0;
}

.section__preview {
	flex: 0 1 auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.section__title {
	flex: 1 0 auto;
	margin: 0;
}

.section__title--primary {
	font-size: 3rem;
	margin: 0.3em 0;
	justify-content: center;
}

.section__title--break {
	margin: 0.3em 15% 0;
	padding-top: 1em;
	justify-content: center;

	.vscode-dark & {
		border-top: 1px solid var(--color-background--lighten-30);
	}

	.vscode-light & {
		border-top: 1px solid var(--color-background--darken-30);
	}
}

.section__whatsnew {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 200;
	margin: 1rem;

	img {
		width: 100%;
		max-width: 600px;
		border-radius: 8px;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8), 0 0 12px 1px rgba(0, 0, 0, 0.5);
		margin-bottom: 2rem;
	}

	a {
		font-weight: 600;
	}
}

.button__subaction {
	color: var(--color-foreground--65);
	margin-top: -0.5rem;
}

.setting {
	flex: 0 1 auto;
	position: relative;
	margin-right: 1em;

	& input[type='checkbox'] {
		flex: 0 0 16px;
		height: 16px;
		margin: 0 10px 0 0;
		position: relative;
		top: 3px;
		width: 16px;
	}

	&[disabled] {
		label {
			color: var(--color-foreground--75);
			cursor: default;
		}
	}
}

.setting__input {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: baseline;
	line-height: normal;
	margin: 0.5em 0;

	input,
	select {
		flex-grow: 1;

		& + .link__configure,
		& + .link__learn-more {
			margin-left: 0;
		}
	}

	input[type='text'],
	input:not([type]) {
		min-width: 245px;
	}

	label {
		flex-grow: 0;

		> select {
			margin-top: 0.25em;
		}
	}

	.link__learn-more,
	.link__configure {
		visibility: hidden;
		max-height: 15px;

		.icon {
			display: block;
			top: unset;
		}
	}

	&:hover {
		.link__learn-more,
		.link__configure {
			visibility: visible;
		}
	}
}

.setting__input--big {
	font-size: 2.2rem;
	font-weight: 200;
	margin: 0;

	& input[type='checkbox'] {
		flex: 0 0 1.5em;
		height: 1em;
		margin: 0;
		position: relative;
		top: 3px;
		left: -5px;
		width: 1em;
	}

	& label {
		white-space: nowrap;
	}

	.link__learn-more,
	.link__configure {
		max-height: 17px;
	}
}

.setting__input--format {
	display: flex;

	input[type='text'],
	input:not([type]) {
		max-width: unset;
	}
}

.setting__hint {
	color: var(--color-foreground--75);
	display: block;
	font-weight: 200;
	font-size: 1.3rem;
	margin: 0 1em 0.5em;
}

.settings {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;

	// align-items: baseline;
	// justify-content: space-between;

	.setting {
		margin-right: 3em;
	}
}

.settings--fixed {
	display: block;
}

.sidebar {
	grid-area: sidebar;
	align-self: flex-start;
	font-size: 1.3rem;
	position: sticky;
	top: 0;
	z-index: 2;

	@media all and (max-width: 768px) {
		display: none;
	}

	li {
		white-space: nowrap;
	}

	.button {
		margin: 0;
	}
}

.sidebar__group {
	margin-top: 1em;

	h2 {
		font-size: 2rem;
	}

	p {
		font-weight: 400;
		opacity: 0.5;
		text-align: center;
	}
}

.sidebar__jump-link {
	&.active {
		font-weight: 700;

		&::before {
			content: ' ';
			border-left: 4px solid var(--color-link-foreground--darken-20);
			position: absolute;
			left: -1em;
			height: 1em;
			padding-bottom: 4px;

			.vscode-light & {
				border-left-color: var(--color-link-foreground--lighten-20);
			}
		}
	}
}

.highlight {
	background-color: #914db3;
	border-bottom: 2px solid #914db3;
	border-radius: 3px;
	color: #f2f2f2;
	margin: 0 0.25em;
	padding: 2px 10px;
	text-align: center;
	vertical-align: bottom;
}

.is-sidebar-hidden {
	display: none;

	@media all and (max-width: 768px) {
		display: initial;
	}
}

@import '../shared/utils';

// @import '../shared/snow';

.sidebar {
	margin-right: 14px;
}
