html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: var(--vscode-foreground);
	background-color: var(--vscode-editor-background);
	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
}

body.preload * {
	transition: none !important;
}

gl-merge-conflict-editor {
	display: block;
	height: 100%;
}
