@use '../../shared/styles/details-base';

// TODO: "change-list__action" should be a separate component
.change-list__action {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 0.25em;
	color: inherit;
	padding: 2px;
	vertical-align: text-bottom;
	text-decoration: none;
}
.change-list__action:focus {
	outline: 1px solid var(--vscode-focusBorder);
	outline-offset: -1px;
}
.change-list__action:hover {
	color: inherit;
	background-color: var(--vscode-toolbar-hoverBackground);
	text-decoration: none;
}
.change-list__action:active {
	background-color: var(--vscode-toolbar-activeBackground);
}

.patch-base {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 0.4rem;
	padding: {
		top: 0.1rem;
		bottom: 0.1rem;
	}

	:first-child {
		margin-right: auto;
	}
}

.message-input {
	padding-top: 0.8rem;

	&__control {
		border: 1px solid var(--vscode-input-border);
		background: var(--vscode-input-background);
		padding: 0.5rem;
		font-size: 1.3rem;
		line-height: 1.4;
		width: 100%;
		border-radius: 0.2rem;
		color: var(--vscode-input-foreground);
		font-family: inherit;

		&::placeholder {
			color: var(--vscode-input-placeholderForeground);
		}

		&:focus {
			outline: 1px solid var(--vscode-focusBorder);
			outline-offset: -1px;
		}
	}
}

.h {
	&-spacing {
		margin-bottom: 1.5rem;
	}
}
