@use '../shared/styles/scrollbars';
@use '../shared/styles/utils';

* {
	box-sizing: border-box;
}

// avoids FOUC for elements not yet called with `define()`
:not(:defined) {
	visibility: hidden;
}

[hidden] {
	display: none !important;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: var(--font-family);
	font-size: 1.3rem;
	color: var(--color-foreground);
	background-color: var(--color-background);
}

gl-settings-app {
	display: block;
	height: 100%;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
	}
}
