<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<style nonce="#{cspNonce}">
			@font-face {
				font-family: 'codicon';
				font-display: block;
				src: url('#{webroot}/codicon.ttf?79130123c9d3674a686cf03962523e8a') format('truetype');
			}
		</style>
	</head>

	<body
		class="scrollable preload"
		data-placement="#{placement}"
		data-vscode-context='{ "webview": "#{webviewId}", "webviewInstance": "#{webviewInstanceId}" }'
	>
		<div class="container">
			<header>
				<h1 class="brand"><gitlens-logo></gitlens-logo> <small>Git Supercharged</small></h1>
				<p class="release">
					<span
						>Version
						<a
							id="version"
							href="https://github.com/gitkraken/vscode-gitlens/blob/main/CHANGELOG.md"
							title="Open CHANGELOG"
							aria-label="Open CHANGELOG"
						></a
					></span>
					<a
						href="https://help.gitkraken.com/gitlens/gitlens-release-notes-current"
						title="Open Release Notes"
						aria-label="Open Release Notes"
						>Release notes</a
					>
				</p>
			</header>

			<div class="hero__area hero__area--sticky">
				<div class="hero__row">
					<h2 class="hero__title">Settings</h2>
					<div class="hero__title-actions">
						<a href="#" data-action="collapse" title="Collapse all sections">collapse all</a>
						<a href="#" data-action="expand" class="hidden" title="Expand all sections">expand all</a>
					</div>
					<div class="hero__toolbar">
						<div class="hero__toolbar-scope hidden">
							<label for="scopes">Save settings for the</label>
							<div class="select-container">
								<select id="scopes" name="scope"></select>
							</div>
						</div>
					</div>
				</div>
				<p class="hero__subtitle">
					For advanced customizations, refer to the
					<a
						class="secondary"
						title="See the GitLens settings docs"
						href="https://help.gitkraken.com/gitlens/gitlens-settings/"
						>GitLens docs</a
					>
					and edit your
					<a class="secondary" title="Open User Settings" href="command:workbench.action.openGlobalSettings"
						>User Settings</a
					>
				</p>
			</div>

			<div class="content__area content__area--full-scroll">
				<!-- prettier-ignore -->
				<%= require('html-loader?{"esModule":false}!./partials/current-line.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/code-lens.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/status-bar.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/hovers.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/file-annotations.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/blame.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/changes.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/heatmap.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/commit-graph.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.commits.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.commitDetails.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.repositories.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.file-history.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.line-history.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.branches.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.remotes.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.stashes.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.tags.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.worktrees.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.contributors.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/views.searchAndCompare.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/rebase-editor.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/autolinks.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/terminal-links.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/dates.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/sorting.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/menus.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/shortcuts.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/modes.html') %>
			</div>

			<div class="sidebar">
				<div class="sidebar__group">
					<h2>Jump to</h2>
					<ul>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#current-line"
								title="Jump to Inline Blame settings"
								>Inline Blame</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#code-lens"
								title="Jump to Git CodeLens settings"
								>Git CodeLens</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#status-bar"
								title="Jump to Status Bar Blame settings"
								>Status Bar Blame</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#hovers"
								title="Jump to Hovers settings"
								>Hovers</a
							>
						</li>

						<li class="mt-1">
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#file-annotations"
								title="Jump to File Annotations settings"
								>File Annotations</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#blame"
								title="Jump to File Blame settings"
								>File Blame</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#changes"
								title="Jump to File Changes settings"
								>File Changes</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#heatmap"
								title="Jump to File Heatmap settings"
								>File Heatmap</a
							>
						</li>

						<li class="mt-1">
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#commit-graph"
								title="Jump to Commit Graph settings"
								>Commit Graph</a
							>
							<gl-feature-badge></gl-feature-badge>
						</li>

						<li class="mt-1">
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#commits-view"
								title="Jump to Commits view settings"
								>Commits view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#commit-details-view"
								title="Jump to Inspect view settings"
								>Inspect view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#repositories-view"
								title="Jump to Repositories view settings"
								>Repositories view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#file-history-view"
								title="Jump to File History view settings"
								>File History view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#line-history-view"
								title="Jump to Line History view settings"
								>Line History view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#branches-view"
								title="Jump to Branches view settings"
								>Branches view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#remotes-view"
								title="Jump to Remotes view settings"
								>Remotes view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#stashes-view"
								title="Jump to Stashes view settings"
								>Stashes view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#tags-view"
								title="Jump to Tags view settings"
								>Tags view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#worktrees-view"
								title="Jump to Worktrees view settings"
								>Worktrees view
							</a>
							<gl-feature-badge></gl-feature-badge>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#contributors-view"
								title="Jump to Contributors view settings"
								>Contributors view</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#search-compare-view"
								title="Jump to Search &amp; Compare view settings"
								>Search &amp; Compare view</a
							>
						</li>

						<li class="mt-1">
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#rebase-editor"
								title="Jump to Interactive Rebase Editor settings"
								>Interactive Rebase Editor</a
							>
						</li>

						<li class="mt-1">
							<a class="sidebar__jump-link" data-action="jump" href="#autolinks" title="Jump to Autolinks"
								>Autolinks</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#terminal-links"
								title="Jump to Terminal Links"
								>Terminal Links</a
							>
						</li>

						<li class="mt-1">
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#dates"
								title="Jump to Dates & Times settings"
								>Dates & Times</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#views"
								title="Jump to Sorting settings"
								>Sorting</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#menus"
								title="Jump to Menus & Toolbars settings"
								>Menus & Toolbars</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#shortcuts"
								title="Jump to Keyboard Shortcuts settings"
								>Keyboard Shortcuts</a
							>
						</li>
						<li>
							<a
								class="sidebar__jump-link"
								data-action="jump"
								href="#modes"
								title="Jump to Modes settings"
								>Modes</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>

		#{endOfBody}
	</body>

	<template id="token-popup">
		<h3 class="token-popup__title">Available Tokens</h3>
		<div class="token-popup__scroller scrollable">
			<table class="token-popup__table">
				<tbody>
					<tr>
						<td>Commit SHA</td>
						<td><span class="token" data-token="id">id</span></td>
					</tr>
					<tr>
						<td>Commit Author</td>
						<td><span class="token" data-token="author">author</span></td>
					</tr>
					<tr>
						<td>Commit Author First Name</td>
						<td><span class="token" data-token="authorFirst">authorFirst</span></td>
					</tr>
					<tr>
						<td>Commit Author Last Name</td>
						<td><span class="token" data-token="authorLast">authorLast</span></td>
					</tr>
					<tr>
						<td>Commit Author (except you)</td>
						<td><span class="token" data-token="authorNotYou">authorNotYou</span></td>
					</tr>
					<tr>
						<td>Commit Author E-mail</td>
						<td><span class="token" data-token="email">email</span></td>
					</tr>
					<tr>
						<td>Commit Message</td>
						<td><span class="token" data-token="message">message</span></td>
					</tr>
					<tr>
						<td>
							Commit or Authored Date<br /><i
								>Relative, e.g. 1 day ago<br />Committed vs Authored based on setting</i
							>
						</td>
						<td><span class="token" data-token="ago">ago</span></td>
					</tr>
					<tr>
						<td>
							Commit or Authored Date<br /><i
								>Absolute, e.g. August 8th, 2016 10:48am<br />Committed vs Authored based on setting</i
							>
						</td>
						<td><span class="token" data-token="date">date</span></td>
					</tr>
					<tr>
						<td>
							Commit or Authored Date<br /><i
								>Relative or absolute based on date setting<br />Committed vs Authored based on
								setting</i
							>
						</td>
						<td><span class="token" data-token="agoOrDate">agoOrDate</span></td>
					</tr>
					<tr>
						<td>
							Commit or Authored Date (Short)<br /><i
								>Short relative or absolute based on date setting<br />Committed vs Authored based on
								setting</i
							>
						</td>
						<td><span class="token" data-token="agoOrDateShort">agoOrDateShort</span></td>
					</tr>
					<tr>
						<td>Authored Date<br /><i>Relative date</i></td>
						<td><span class="token" data-token="authorAgo">authorAgo</span></td>
					</tr>
					<tr>
						<td>Authored Date<br /><i>Absolute, e.g. August 8th, 2016 10:48am</i></td>
						<td><span class="token" data-token="authorDate">authorDate</span></td>
					</tr>
					<tr>
						<td>Authored Date<br /><i>Relative or absolute date based on date setting</i></td>
						<td><span class="token" data-token="authorAgoOrDate">authorAgoOrDate</span></td>
					</tr>
					<tr>
						<td>Authored Date (Short)<br /><i>Short relative or absolute date based on date setting</i></td>
						<td><span class="token" data-token="authorAgoOrDateShort">authorAgoOrDateShort</span></td>
					</tr>
					<tr>
						<td>Commit Date<br /><i>Relative date</i></td>
						<td><span class="token" data-token="committerAgo">committerAgo</span></td>
					</tr>
					<tr>
						<td>Commit Date<br /><i>Absolute, e.g. August 8th, 2016 10:48am</i></td>
						<td><span class="token" data-token="committerDate">committerDate</span></td>
					</tr>
					<tr>
						<td>Commit Date<br /><i>Relative or absolute date based on date setting</i></td>
						<td><span class="token" data-token="committerAgoOrDate">committerAgoOrDate</span></td>
					</tr>
					<tr>
						<td>Commit Date (Short)<br /><i>Short relative or absolute date based on date setting</i></td>
						<td><span class="token" data-token="committerAgoOrDateShort">committerAgoOrDateShort</span></td>
					</tr>
					<tr>
						<td>Branch & Tag Tips<br /><i>Indicates if the commit is a tip of any branches or tags</i></td>
						<td><span class="token" data-token="tips">tips</span></td>
					</tr>
					<tr>
						<td>
							Changes Indicator<br /><i
								>Indicates adds, changes, renames, and deletes<br />e.g +1 ~3 -0</i
							>
						</td>
						<td><span class="token" data-token="changes">changes</span></td>
					</tr>
					<tr>
						<td>
							Changes Indicator (short)<br /><i
								>Indicates adds, changes, renames, and deletes<br />e.g +1~3</i
							>
						</td>
						<td><span class="token" data-token="changesShort">changesShort</span></td>
					</tr>
					<tr>
						<td>Pull Request<br /><i>Pull request (if any) that introduced the commit</i></td>
						<td><span class="token" data-token="pullRequest">pullRequest</span></td>
					</tr>
					<tr>
						<td>
							Pull Request State<br /><i
								>State (open, merged, closed) of the pull request (if any) that introduced the commit</i
							>
						</td>
						<td><span class="token" data-token="pullRequestState">pullRequestState</span></td>
					</tr>
					<!-- <tr>
						<td>Author Avatar</td>
						<td><span class="token" data-token="avatar">avatar</span></td>
					</tr> -->
					<!-- <tr>
						<td>
							Commands<br /><i>Set of commit command buttons<br />only valid in hovers</i>
						</td>
						<td><span class="token" data-token="commands">commands</span></td>
					</tr> -->
				</tbody>
			</table>
		</div>
		<span class="token-popup__hint">
			<i class="icon icon__info"></i>
			<a href="https://github.com/gitkraken/vscode-gitlens/wiki/Custom-Formatting" title="Open formatting docs"
				>Learn more</a
			>
			about formatting options
		</span>
	</template>
</html>
