<template id="state:free-preview-trial-expired">
	<section>
		<p>
			Your free 3-day GitLens Pro trial has ended, extend your trial to get an additional 7-days of Visual File
			History and other GitLens+ features on private repos.
		</p>
		<vscode-button data-action="command:gitlens.plus.loginOrSignUp">Extend Pro Trial</vscode-button>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;All other GitLens features can always be used on any repo, without
			an account.
		</p>
	</section>
</template>
