<template id="state:free-preview-expired">
	<section>
		<p>
			Sign in to use the Visual File History and other GitLens+ features on public repos and get an additional
			7-day free trial for both public and private repos.
		</p>
		<vscode-button data-action="command:gitlens.plus.loginOrSignUp">Sign in to GitLens+</vscode-button>
		<p>
			✨ The Visual File History is
			<a title="Learn more about GitLens+ features" href="command:gitlens.plus.learn">GitLens+ feature</a> which
			can be used on public repos with a
			<a title="Sign in" href="command:gitlens.plus.loginOrSignUp">free account</a> and private repos with a
			<a title="View plans" href="command:gitlens.plus.purchase">paid account</a>.
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;All other GitLens features can always be used on any repo, without
			an account.
		</p>
		<p class="mt-tight">
			<span class="glicon glicon-clock"></span> GitLens+
			<a href="command:gitlens.plus.purchase">introductory pricing</a> will end with the next release (late Sept,
			early Oct).
		</p>
	</section>
</template>
