<section id="autolinks" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>Autolinks</h2>
		<p class="section__header-hint">Specifies autolinks to external resources in commit messages. Use <code>&lt;num&gt;</code> as the variable for the reference number.</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="setting-list" data-component="autolinks"></div>
				<p>
					<button class="button button--flat" id="autolinks" name="autolinks" type="button" data-action="show" data-action-target="autolink">Add new autolink</button>
				</p>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open
				<a
					class="command"
					title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.autolinks%22"
					>Settings</a
				>
				and search for <b><i>gitlens.autolinks</i></b>
			</p>
		</div>
	</div>
</section>
