<section id="autolinks" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<h2>Autolinks</h2>
		<p class="section__header-hint">
			Use autolinks to linkify external references, like Jira issues or Zendesk tickets, in commit messages.
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__preview mb-0">
				<img
					class="image__preview image__preview--fit"
					src="#{webroot}/media/hovers-autolink.webp"
					loading="lazy"
					width="329"
					height="112"
				/>
			</div>
		</div>
		<div class="section__group">
			<div class="section__content">
				<div data-component="autolink-integration"></div>
				<div class="setting-list" data-component="autolinks"></div>
				<p class="mb-0">
					<button
						class="button button--compact button--flat m-0"
						type="button"
						data-action="show"
						data-action-target="autolink"
					>
						Add autolink
					</button>
				</p>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.autolinks%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.autolinks</i></b>
			</p>
		</div>
	</div>
</section>
