<section id="current-line" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input
				id="currentLine.enabled"
				name="currentLine.enabled"
				type="checkbox"
				data-setting
				data-add-settings-off="hovers.currentLine.over=line"
			/>
			<label for="currentLine.enabled">Inline Blame</label>
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://help.gitkraken.com/gitlens/gitlens-features/#current-line-blame"
			>
				<i class="icon icon__info"></i>
			</a>
		</div>

		<p class="section__header-hint">Adds an unobtrusive blame annotation at the end of the current line</p>
		<div class="section__header-info">
			<i class="icon icon--md icon__bulb"></i>
			<div>
				<p>
					Use the
					<a class="command" title="Run command" href="command:gitlens.toggleLineBlame"
						>GitLens: Toggle Line Blame Annotations</a
					>
					command to override this setting for the current window
				</p>
			</div>
		</div>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting" data-enablement="currentLine.enabled">
						<div class="setting__input">
							<input
								id="currentLine.pullRequests.enabled"
								name="currentLine.pullRequests.enabled"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="currentLine.pullRequests.enabled"
								>Show the Pull Request (if any) that introduced the commit</label
							>
						</div>

						<p class="setting__hint hidden" data-visibility="currentLine.pullRequests.enabled">
							<i class="icon icon__info"></i>Requires a connection to a supported remote service (e.g.
							GitHub)
						</p>
					</div>

					<div class="setting" data-enablement="currentLine.enabled">
						<div class="setting__input setting__input--format">
							<label for="currentLine.format">Annotation&nbsp;format</label>
							<input
								id="currentLine.format"
								name="currentLine.format"
								type="text"
								placeholder="${author, }${agoOrDate}${' via 'pullRequest}${ • message|50?}"
								data-setting
								data-setting-preview
								data-default-value="${author, }${agoOrDate}${' via 'pullRequest}${ • message|50?}"
								data-popup-trigger
								disabled
							/>
							<label for="currentLine.format" title="See available tokens">
								<i class="icon icon__chevron-down"></i>
							</label>
						</div>
						<div id="currentLine.format.popup" class="popup hidden"></div>
						<span class="setting__hint"
							>Example:
							<span
								data-setting-preview="currentLine.format"
								data-setting-preview-type="commit"
								data-setting-preview-default="${author, }${agoOrDate}${' via 'pullRequest}${ • message|50?}"
							></span>
						</span>
					</div>

					<div class="setting" data-enablement="currentLine.enabled">
						<div class="setting__input setting__input--format">
							<input
								id="currentLine.useUncommittedChangesFormat"
								name="currentLine.useUncommittedChangesFormat"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="currentLine.useUncommittedChangesFormat"
								>Override format for uncommitted changes</label
							>
						</div>
						<span class="setting__hint" data-visibility="currentLine.useUncommittedChangesFormat =false"
							>Example:
							<span
								data-setting-preview="currentLine.uncommittedChangesFormat"
								data-setting-preview-type="commit-uncommitted"
								data-setting-preview-default-lookup="currentLine.format"
							></span>
						</span>
					</div>
					<div
						class="setting ml-2"
						data-enablement="currentLine.enabled"
						data-visibility="currentLine.useUncommittedChangesFormat"
					>
						<div class="setting__input setting__input--format">
							<label for="currentLine.uncommittedChangesFormat"
								>Uncommitted&nbsp;changes&nbsp;format</label
							>
							<input
								id="currentLine.uncommittedChangesFormat"
								name="currentLine.uncommittedChangesFormat"
								type="text"
								placeholder="format for uncommitted changes"
								data-setting
								data-setting-preview
								data-default-value=""
								data-popup-trigger
								disabled
							/>
							<label for="currentLine.uncommittedChangesFormat" title="See available tokens">
								<i class="icon icon__chevron-down"></i>
							</label>
						</div>
						<div id="currentLine.uncommittedChangesFormat.popup" class="popup hidden"></div>
						<span class="setting__hint" data-visibility="currentLine.useUncommittedChangesFormat"
							>Example:
							<span
								data-setting-preview="currentLine.uncommittedChangesFormat"
								data-setting-preview-type="commit-uncommitted"
								data-setting-preview-default=""
							></span>
						</span>
					</div>

					<div class="setting" data-enablement="currentLine.enabled">
						<div class="setting__input">
							<input
								id="currentLine.scrollable"
								name="currentLine.scrollable"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="currentLine.scrollable">
								Include the annotation when scrolling the editor horizontally
							</label>
						</div>
						<p class="setting__hint">
							When enabled the annotation can be scrolled into view when it is outside the viewport.
						</p>
						<p class="setting__hint">
							<i class="icon icon__info"></i>
							Setting this to <code>false</code> will inhibit the hovers from showing over the annotation;
							Set
							<a title="Jump to Hovers settings" data-action="jump" href="#hovers.currentLine.over"
								><code>gitlens.hovers.currentLine.over</code></a
							>
							to <code>line</code> to enable the hovers to show anywhere over the line.
						</p>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview"
					src="#{webroot}/media/current-line-blame.webp"
					loading="lazy"
					width="600"
					height="206"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/current-line-blame-on.webp"
					data-visibility="currentLine.enabled &amp; currentLine.pullRequests.enabled =false"
					loading="lazy"
					width="600"
					height="206"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/current-line-blame-on+pr.webp"
					data-visibility="currentLine.enabled &amp; currentLine.pullRequests.enabled"
					loading="lazy"
					width="600"
					height="206"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{webroot}/media/current-line-blame-on-scrollable.webp"
					data-visibility="currentLine.enabled &amp; currentLine.scrollable"
					loading="lazy"
					width="600"
					height="206"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.currentLine%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.currentLine</i></b>
			</p>
		</div>
	</div>
</section>
