<section id="heatmap" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			Gutter Heatmap
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#gutter-heatmap-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			Adds on-demand heatmap (age) indicator to the edge of the gutter to show how recently lines were changed
		</p>
		<div class="section__header-info">
			<i class="icon icon--md icon__bulb"></i>
			<div>
				<p>
					Use the
					<span class="command hidden" data-visibility="heatmap.toggleMode =file">
						GitLens: Toggle File Heatmap Annotations
					</span>
					<a
						class="command hidden"
						title="Run command"
						href="command:gitlens.toggleFileHeatmap"
						data-visibility="heatmap.toggleMode =window"
					>
						GitLens: Toggle File Heatmap Annotations
					</a>
					command to turn the annotations on or off
				</p>
				<p>Press <span class="shortcut-key">Esc</span> to turn off the annotations</p>
			</div>
		</div>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<p class="setting__hint">
					<i class="icon icon__info"></i> Indicator color reflects the age of the most recent change (hot or
					cold), while indicator brightness ranges from bright (newer) to dim (older) based on the relative
					age
				</p>

				<div class="setting">
					<div class="setting__input">
						<label for="heatmap.toggleMode">Toggle annotations </label>
						<select id="heatmap.toggleMode" name="heatmap.toggleMode" data-setting>
							<option value="file">individually for each file</option>
							<option value="window">for all files</option>
						</select>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{root}/images/settings/heatmap.png" />
			</div>
		</div>
	</div>
</section>
