<section id="menus" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input id="menus" name="menus" type="checkbox" value="undefined" data-setting />
			<label for="menus">Menus &amp; Toolbars</label>
		</div>

		<p class="section__header-hint">Adds many helpful commands to the built-in menus &amp; toolbars</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editor"
							name="menus.editor"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editor">Add to the editor context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.compare"
								name="menus.editor.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.compare">Add an <i>Open Changes</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.remote"
								name="menus.editor.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.remote">Add an <i>Open on Remote (Web)</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.blame"
								name="menus.editor.blame"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.blame">Add a <i>File Annotations</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.history"
								name="menus.editor.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.history">Add a <i>File History</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editor">
						<div class="setting__input">
							<input
								id="menus.editor.clipboard"
								name="menus.editor.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editor.clipboard">Add to the <i>Copy As</i> submenu</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editorGutter"
							name="menus.editorGutter"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editorGutter">Add to the editor's line number (gutter) context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editorGutter">
						<div class="setting__input">
							<input
								id="menus.editorGutter.share"
								name="menus.editorGutter.share"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGutter.share">Add a <i>Share</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorGutter">
						<div class="setting__input">
							<input
								id="menus.editorGutter.compare"
								name="menus.editorGutter.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGutter.compare">Add an <i>Open Changes</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorGutter">
						<div class="setting__input">
							<input
								id="menus.editorGutter.remote"
								name="menus.editorGutter.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGutter.remote">Add an <i>Open on Remote (Web)</i> submenu</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editorTab"
							name="menus.editorTab"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editorTab">Add to the editor tab context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.clipboard"
								name="menus.editorTab.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.clipboard">Add <i>Copy Remote File URL *</i> commands</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.compare"
								name="menus.editorTab.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.compare">Add an <i>Open Changes</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.remote"
								name="menus.editorTab.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.remote">Add an <i>Open on Remote (Web)</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorTab">
						<div class="setting__input">
							<input
								id="menus.editorTab.history"
								name="menus.editorTab.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorTab.history">Add a <i>File History</i> submenu</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.editorGroup"
							name="menus.editorGroup"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.editorGroup">Add to the editor group toolbar</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.editorGroup">
						<div class="setting__input">
							<input
								id="menus.editorGroup.compare"
								name="menus.editorGroup.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGroup.compare">Add revision history navigation commands</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.editorGroup">
						<div class="setting__input">
							<input
								id="menus.editorGroup.blame"
								name="menus.editorGroup.blame"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.editorGroup.blame">Add </label>
							<div class="select-container">
								<select
									id="fileAnnotations.command"
									name="fileAnnotations.command"
									data-setting
									data-enablement="menus.editorGroup.blame"
									disabled
								>
									<option value="null">File Annotations submenu</option>
									<option value="blame"><i>Toggle File Blame</i> command</option>
									<option value="heatmap"><i>Toggle File Heatmap</i> command</option>
									<option value="changes"><i>Toggle File Changes</i> command</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.explorer"
							name="menus.explorer"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.explorer">Add to the Explorer items context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.compare"
								name="menus.explorer.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.compare">Add an <i>Open Changes</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.remote"
								name="menus.explorer.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.remote">Add an <i>Open on Remote (Web)</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.history"
								name="menus.explorer.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.history">Add a <i>File History</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.explorer">
						<div class="setting__input">
							<input
								id="menus.explorer.clipboard"
								name="menus.explorer.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.explorer.clipboard">Add <i>Copy Remote File URL *</i> commands</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.ghpr"
							name="menus.ghpr"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scm"
							>Add to the GitHub Pull Request and Issues' pull request context menu</label
						>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scm">
						<div class="setting__input">
							<input
								id="menus.ghpr.worktree"
								name="menus.ghpr.worktree"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.ghpr.worktree"
								>Add an <i>Open Worktree for Pull Request</i> command</label
							>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scm"
							name="menus.scm"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scm">Add to the Source Control context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scm">
						<div class="setting__input">
							<input
								id="menus.scm.graph"
								name="menus.scm.graph"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scm.graph">Add a <i>Show Commit Graph</i> command</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmRepositoryInline"
							name="menus.scmRepositoryInline"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmRepositoryInline">Add to the Source Control repository toolbar</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmRepositoryInline">
						<div class="setting__input">
							<input
								id="menus.scmRepositoryInline.graph"
								name="menus.scmRepositoryInline.graph"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmRepositoryInline.graph">Add a <i>Show Commit Graph</i> command</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmRepositoryInline">
						<div class="setting__input">
							<input
								id="menus.scmRepositoryInline.stash"
								name="menus.scmRepositoryInline.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmRepositoryInline.stash">Add a <i>Stash All Changes</i> command</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmRepository"
							name="menus.scmRepository"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmRepository">Add to the Source Control repository context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmRepository">
						<div class="setting__input">
							<input
								id="menus.scmRepository.authors"
								name="menus.scmRepository.authors"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmRepository.authors">Add an <i>Add Co-authors</i> command</label>
						</div>
					</div>
					<div class="setting" data-enablement="menus.scmRepository">
						<div class="setting__input">
							<input
								id="menus.scmRepository.generateCommitMessage"
								name="menus.scmRepository.generateCommitMessage"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmRepository.generateCommitMessage"
								>Add a <i>Generate Commit Message (Experimental)</i> command</label
							>
						</div>
					</div>
					<div class="setting" data-enablement="menus.scmRepository">
						<div class="setting__input">
							<input
								id="menus.scmRepository.patch"
								name="menus.scmRepository.patch"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmRepository.patch"
								>Add <i>Copy as Patch</i> and <i>Share as Cloud Patch...</i> commands</label
							>
						</div>
					</div>
					<div class="setting" data-enablement="menus.scmRepository">
						<div class="setting__input">
							<input
								id="menus.scmRepository.graph"
								name="menus.scmRepository.graph"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmRepository.graph">Add a <i>Show Commit Graph</i> command</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmGroupInline"
							name="menus.scmGroupInline"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmGroupInline">Add to the Source Control groups toolbar</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmGroupInline">
						<div class="setting__input">
							<input
								id="menus.scmGroupInline.stash"
								name="menus.scmGroupInline.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroupInline.stash">Add a <i>Stash All Changes</i> command</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmGroup"
							name="menus.scmGroup"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmGroup">Add to the Source Control groups context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.stash"
								name="menus.scmGroup.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.stash">Add a <i>Stash All Changes</i> command</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.compare"
								name="menus.scmGroup.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.compare">Add an <i>Open Changes</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.openClose"
								name="menus.scmGroup.openClose"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.openClose"
								>Add <i>Open Changed Files</i> and <i>Close Unchanged Files</i> commands</label
							>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmGroup">
						<div class="setting__input">
							<input
								id="menus.scmGroup.patch"
								name="menus.scmGroup.patch"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmGroup.patch"
								>Add <i>Copy as Patch</i> and <i>Share as Cloud Patch...</i> commands</label
							>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmItemInline"
							name="menus.scmItemInline"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmItemInline">Add to the Source Control items toolbar</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmItemInline">
						<div class="setting__input">
							<input
								id="menus.scmItemInline.stash"
								name="menus.scmItemInline.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItemInline.stash">Add a <i>Stash Changes</i> command</label>
						</div>
					</div>
				</div>

				<div class="setting setting--expandable" data-enablement="menus">
					<div class="setting__input">
						<div class="setting__expander"></div>
						<input
							id="menus.scmItem"
							name="menus.scmItem"
							type="checkbox"
							value="undefined"
							data-setting
							data-setting-type="object"
							disabled
						/>
						<label for="menus.scmItem">Add to the Source Control items context menu</label>
					</div>
				</div>

				<div class="settings ml-4">
					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.compare"
								name="menus.scmItem.compare"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.compare">Add an <i>Open Changes with</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.remote"
								name="menus.scmItem.remote"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.remote">Add an <i>Open on Remote (Web)</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.history"
								name="menus.scmItem.history"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.history">Add a <i>File History</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.stash"
								name="menus.scmItem.stash"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.stash">Add a <i>Stash Changes</i> command</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.share"
								name="menus.scmItem.share"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.share">Add a <i>Share</i> submenu</label>
						</div>
					</div>

					<div class="setting" data-enablement="menus.scmItem">
						<div class="setting__input">
							<input
								id="menus.scmItem.clipboard"
								name="menus.scmItem.clipboard"
								type="checkbox"
								data-setting
								data-setting-type="object"
								disabled
							/>
							<label for="menus.scmItem.clipboard">Add a <i>Copy Relative Path</i> command</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.menus%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.menus</i></b>
			</p>
		</div>
	</div>
</section>
