<section id="views" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			Views
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#side-bar-views"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>
		<p class="section__header-hint">Adds rich views to visualize, navigate, and explore</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<p class="blurb mt-0">
					GitLens views can be configured to be shown in different side bar layouts to best match your
					workflow
				</p>
				<div class="presets mb-1">
					<div class="preset">
						<a
							class="button button--flat"
							title="Shows all the views together on the Source Control side bar"
							href="command:gitlens.setViewsLayout?%7B%22layout%22%3A%22scm%22%7D"
							>Source Control Layout (default)</a
						>
						<p>Shows all the views together on the Source Control side bar</p>
					</div>
					<div class="preset">
						<a
							class="button button--flat"
							title="Shows all the views together on the GitLens side bar"
							href="command:gitlens.setViewsLayout?%7B%22layout%22%3A%22gitlens%22%7D"
							>GitLens Layout</a
						>
						<p>Shows all the views together on the GitLens side bar</p>
					</div>
				</div>

				<p class="section__hint">
					<i class="icon icon__info"></i> You can also simply drag &amp; drop individual views to create
					custom layouts
				</p>
			</div>
		</div>
	</div>
</section>
