<section id="line-history-view" class="section--settings section--collapsible">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input id="views.lineHistory.enabled" name="views.lineHistory.enabled" type="checkbox" data-setting />
			<label for="views.lineHistory.enabled">Line History view</label>
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://github.com/eamodio/vscode-gitlens/#line-history-view-"
			>
				<i class="icon icon__info"></i>
			</a>
		</div>

		<p class="section__header-hint">
			Adds a Line History view
			<a
				class="command command--show-view"
				title="Show View in Side Bar"
				href="command:gitlens.showLineHistoryView"
			></a>
			to visualize, navigate, and explore the revision history of the selected lines of current file
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting" data-enablement="views.lineHistory.enabled">
						<div class="setting__input">
							<input
								id="views.lineHistory.avatars"
								name="views.lineHistory.avatars"
								type="checkbox"
								data-setting
								disabled
							/>
							<label for="views.lineHistory.avatars">Use author avatars</label>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview" data-visibility="views.lineHistory.enabled">
				<img
					class="image__preview hidden"
					src="#{root}/images/settings/view-line-history.webp"
					data-visibility="views.lineHistory.enabled"
				/>
				<img
					class="image__preview--overlay hidden"
					src="#{root}/images/settings/view-line-history-avatars.webp"
					data-visibility="views.lineHistory.enabled &amp; views.lineHistory.avatars"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open
				<a
					class="command"
					title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.views.lineHistory%22"
					>Settings</a
				>
				and search for <b><i>gitlens.views.lineHistory</i></b> or
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
