<section id="repositories-view" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<h2>
			Repositories view
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://help.gitkraken.com/gitlens/side-bar/#repositories-view"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			Adds a
			<a
				class="command command--show-view"
				title="Show View in Side Bar"
				href="command:gitlens.showRepositoriesView"
				>Repositories view</a
			>, hidden by default, to visualize, explore, and manage Git repositories
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<label class="non-interactive">Show the following sections under each repository</label>
						</div>
					</div>

					<div class="settings ml-2">
						<div class="setting">
							<div class="setting__input setting__input--inner-select">
								<input
									id="views.repositories.showBranchComparison"
									name="views.repositories.showBranchComparison"
									type="checkbox"
									value="working"
									data-setting
								/>
								<label for="views.repositories.showBranchComparison">Comparison of the</label>
								<div class="select-container">
									<select
										id="views.repositories.showBranchComparison"
										name="views.repositories.showBranchComparison"
										data-setting
										data-enablement="views.repositories.showBranchComparison !false"
									>
										<option value="branch">current branch</option>
										<option value="working">working tree</option>
									</select>
								</div>
								<label for="views.repositories.showBranchComparison"
									>with a user-selected reference (branch, tag, etc)
								</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showUpstreamStatus"
									name="views.repositories.showUpstreamStatus"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showUpstreamStatus">Current branch status</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.includeWorkingTree"
									name="views.repositories.includeWorkingTree"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.includeWorkingTree">Working tree file changes</label>
							</div>
						</div>

						<div class="section__group">
							<div class="section__content">
								<div class="settings settings--fixed">
									<div class="setting">
										<div class="setting__input">
											<input
												id="views.repositories.pullRequests.enabled"
												name="views.repositories.pullRequests.enabled"
												type="checkbox"
												data-setting
											/>
											<label for="views.repositories.pullRequests.enabled"
												>Associated pull requests</label
											>
										</div>
										<p class="setting__hint">
											Requires a connection to a supported remote service (e.g. GitHub)
										</p>
									</div>

									<div class="settings settings--fixed ml-2">
										<div class="setting" data-enablement="views.repositories.pullRequests.enabled">
											<div class="setting__input">
												<input
													id="views.repositories.pullRequests.showForBranches"
													name="views.repositories.pullRequests.showForBranches"
													type="checkbox"
													data-setting
													disabled
												/>
												<label for="views.repositories.pullRequests.showForBranches"
													>Show the pull request associated with each branch</label
												>
											</div>
										</div>

										<div class="setting" data-enablement="views.repositories.pullRequests.enabled">
											<div class="setting__input">
												<input
													id="views.repositories.pullRequests.showForCommits"
													name="views.repositories.pullRequests.showForCommits"
													type="checkbox"
													data-setting
													disabled
												/>
												<label for="views.repositories.pullRequests.showForCommits"
													>Show the pull request that introduced each commit</label
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showCommits"
									name="views.repositories.showCommits"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showCommits">Commits</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showBranches"
									name="views.repositories.showBranches"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showBranches">Branches</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showRemotes"
									name="views.repositories.showRemotes"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showRemotes">Remotes</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showStashes"
									name="views.repositories.showStashes"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showStashes">Stashes</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showTags"
									name="views.repositories.showTags"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showTags">Tags</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showContributors"
									name="views.repositories.showContributors"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showContributors">Contributors</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input
									id="views.repositories.showIncomingActivity"
									name="views.repositories.showIncomingActivity"
									type="checkbox"
									data-setting
								/>
								<label for="views.repositories.showIncomingActivity"
									>Incoming Activity (Experimental)</label
								>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.autoRefresh"
								name="views.repositories.autoRefresh"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.autoRefresh"
								>Automatically refresh when a repository or the file system changes</label
							>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.autoReveal"
								name="views.repositories.autoReveal"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.autoReveal"
								>Automatically reveal repository when opening files</label
							>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.avatars"
								name="views.repositories.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.avatars">Use author avatars</label>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.repositories.branches.layout">Layout branches</label>
							<div class="select-container">
								<select
									id="views.repositories.branches.layout"
									name="views.repositories.branches.layout"
									data-setting
								>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.repositories.files.layout">Layout files</label>
							<div class="select-container">
								<select
									id="views.repositories.files.layout"
									name="views.repositories.files.layout"
									data-setting
								>
									<option value="auto">automatically</option>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.repositories.files.layout =auto">
							Chooses the best layout based on the number of files at each nesting level
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.repositories.files.icon">File icons</label>
							<div class="select-container">
								<select
									id="views.repositories.files.icon"
									name="views.repositories.files.icon"
									data-setting
								>
									<option value="type">show file type (default)</option>
									<option value="status">show file status</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.repositories.files.compact"
								name="views.repositories.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.repositories.files.compact">Use compact file layout</label>
						</div>
						<p class="setting__hint">Compacts (flattens) unnecessary nesting when using a tree layouts</p>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview"
					src="#{webroot}/media/repositories-view.webp"
					loading="lazy"
					width="600"
					height="360"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.views.repositories%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.views.repositories</i></b> or
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
