<section id="remotes-view" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<h2>
			Remotes view
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://help.gitkraken.com/gitlens/side-bar/#remotes-view"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			Adds a
			<a class="command command--show-view" title="Show View in Side Bar" href="command:gitlens.showRemotesView"
				>Remotes view</a
			>
			to visualize, explore, and manage Git remotes and remote branches
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="section__group">
						<div class="section__content">
							<div class="settings settings--fixed">
								<div class="setting">
									<div class="setting__input">
										<input
											id="views.remotes.pullRequests.enabled"
											name="views.remotes.pullRequests.enabled"
											type="checkbox"
											data-setting
										/>
										<label for="views.remotes.pullRequests.enabled"
											>Show associated pull requests</label
										>
									</div>
									<p class="setting__hint">
										Requires a connection to a supported remote service (e.g. GitHub)
									</p>
								</div>

								<div class="settings settings--fixed ml-2">
									<div class="setting" data-enablement="views.remotes.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.remotes.pullRequests.showForBranches"
												name="views.remotes.pullRequests.showForBranches"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.remotes.pullRequests.showForBranches"
												>Show the pull request associated with each branch</label
											>
										</div>
									</div>

									<div class="setting" data-enablement="views.remotes.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.remotes.pullRequests.showForCommits"
												name="views.remotes.pullRequests.showForCommits"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.remotes.pullRequests.showForCommits"
												>Show the pull request that introduced each commit</label
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.remotes.branches.layout">Layout branches</label>
							<div class="select-container">
								<select
									id="views.remotes.branches.layout"
									name="views.remotes.branches.layout"
									data-setting
								>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.remotes.files.layout">Layout files</label>
							<div class="select-container">
								<select id="views.remotes.files.layout" name="views.remotes.files.layout" data-setting>
									<option value="auto">automatically</option>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.remotes.files.layout =auto">
							Chooses the best layout based on the number of files at each nesting level
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.remotes.files.icon">File icons</label>
							<div class="select-container">
								<select id="views.remotes.files.icon" name="views.remotes.files.icon" data-setting>
									<option value="type">show file type (default)</option>
									<option value="status">show file status</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.remotes.files.compact"
								name="views.remotes.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.remotes.files.compact">Use compact file layout</label>
						</div>
						<p class="setting__hint">Compacts (flattens) unnecessary nesting when using a tree layouts</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.remotes.avatars"
								name="views.remotes.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.remotes.avatars">Use author avatars</label>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview hidden"
					src="#{webroot}/media/remotes-view-pr.webp"
					data-visibility="views.remotes.pullRequests.enabled &amp; views.remotes.pullRequests.showForBranches"
					loading="lazy"
					width="600"
					height="360"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/remotes-view.webp"
					data-visibility="views.remotes.pullRequests.enabled =false"
					loading="lazy"
					width="600"
					height="360"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/remotes-view.webp"
					data-visibility="views.remotes.pullRequests.enabled &amp; views.remotes.pullRequests.showForBranches =false"
					loading="lazy"
					width="600"
					height="360"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.views.remotes%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.views.remotes</i></b> or
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
