<section id="contributors-view" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<h2>
			Contributors view
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://help.gitkraken.com/gitlens/side-bar/#contributors-view"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			Adds a
			<a
				class="command command--show-view"
				title="Show View in Side Bar"
				href="command:gitlens.showContributorsView"
				>Contributors view</a
			>, hidden by default, to visualize, navigate, and explore contributors
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<input
								id="views.contributors.showAllBranches"
								name="views.contributors.showAllBranches"
								type="checkbox"
								data-setting
							/>
							<label for="views.contributors.showAllBranches">Show commits from all branches</label>
						</div>
					</div>

					<div class="section__group">
						<div class="section__content">
							<div class="settings settings--fixed">
								<div class="setting">
									<div class="setting__input">
										<input
											id="views.contributors.pullRequests.enabled"
											name="views.contributors.pullRequests.enabled"
											type="checkbox"
											data-setting
										/>
										<label for="views.contributors.pullRequests.enabled"
											>Show associated pull requests</label
										>
									</div>
									<p class="setting__hint">
										Requires a connection to a supported remote service (e.g. GitHub)
									</p>
								</div>

								<div class="settings settings--fixed ml-2">
									<div class="setting" data-enablement="views.contributors.pullRequests.enabled">
										<div class="setting__input">
											<input
												id="views.contributors.pullRequests.showForCommits"
												name="views.contributors.pullRequests.showForCommits"
												type="checkbox"
												data-setting
												disabled
											/>
											<label for="views.contributors.pullRequests.showForCommits"
												>Show the pull request that introduced each commit</label
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.contributors.files.layout">Layout files</label>
							<div class="select-container">
								<select
									id="views.contributors.files.layout"
									name="views.contributors.files.layout"
									data-setting
								>
									<option value="auto">automatically</option>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.contributors.files.layout =auto">
							Chooses the best layout based on the number of files at each nesting level
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.contributors.files.icon">File icons</label>
							<div class="select-container">
								<select
									id="views.contributors.files.icon"
									name="views.contributors.files.icon"
									data-setting
								>
									<option value="type">show file type (default)</option>
									<option value="status">show file status</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.contributors.files.compact"
								name="views.contributors.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.contributors.files.compact">Use compact file layout</label>
						</div>
						<p class="setting__hint">Compacts (flattens) unnecessary nesting when using a tree layouts</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.contributors.avatars"
								name="views.contributors.avatars"
								type="checkbox"
								data-setting
							/>
							<label for="views.contributors.avatars">Use author avatars</label>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview"
					src="#{webroot}/media/contributors-view.webp"
					loading="lazy"
					width="600"
					height="360"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.views.contributors%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.views.contributors</i></b> or
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
