<section id="stashes-view" class="section--settings section--collapsible" tabindex="-1">
	<div class="section__header">
		<h2>
			Stashes view
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://help.gitkraken.com/gitlens/side-bar/#stashes-view"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			Adds a
			<a class="command command--show-view" title="Show View in Side Bar" href="command:gitlens.showStashesView"
				>Stashes view</a
			>
			to visualize, explore, and manage Git stashes
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<label for="views.stashes.files.layout">Layout files</label>
							<div class="select-container">
								<select id="views.stashes.files.layout" name="views.stashes.files.layout" data-setting>
									<option value="auto">automatically</option>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.stashes.files.layout =auto">
							Chooses the best layout based on the number of files at each nesting level
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="views.stashes.files.icon">File icons</label>
							<div class="select-container">
								<select id="views.stashes.files.icon" name="views.stashes.files.icon" data-setting>
									<option value="type">show file type (default)</option>
									<option value="status">show file status</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.stashes.files.compact"
								name="views.stashes.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.stashes.files.compact">Use compact file layout</label>
						</div>
						<p class="setting__hint">Compacts (flattens) unnecessary nesting when using a tree layouts</p>
					</div>

					<div class="setting">
						<div class="setting__input setting__input--format">
							<label for="views.formats.stashes.label">Stash&nbsp;label&nbsp;format</label>
							<input
								id="views.formats.stashes.label"
								name="views.formats.stashes.label"
								type="text"
								placeholder="${message}"
								data-setting
								data-setting-preview
								data-default-value="${message}"
								data-popup-trigger
							/>
							<label for="views.formats.stashes.label" title="See available tokens">
								<i class="icon icon__chevron-down"></i>
							</label>
						</div>
						<div id="views.formats.stashes.label.popup" class="popup hidden"></div>
						<span class="setting__hint"
							>Example:
							<span
								data-setting-preview="views.formats.stashes.label"
								data-setting-preview-type="commit"
								data-setting-preview-default="${message}"
							></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input setting__input--format">
							<label for="views.formats.stashes.description">Stash&nbsp;description&nbsp;format</label>
							<input
								id="views.formats.stashes.description"
								name="views.formats.stashes.description"
								type="text"
								placeholder="${stashOnRef, }${agoOrDate}"
								data-setting
								data-setting-preview
								data-default-value="${stashOnRef, }${agoOrDate}"
								data-popup-trigger
							/>
							<label for="views.formats.stashes.description" title="See available tokens">
								<i class="icon icon__chevron-down"></i>
							</label>
						</div>
						<div id="views.formats.stashes.description.popup" class="popup hidden"></div>
						<span class="setting__hint"
							>Example:
							<span
								data-setting-preview="views.formats.stashes.description"
								data-setting-preview-type="commit"
								data-setting-preview-default="${stashOnRef, }${agoOrDate}"
							></span>
						</span>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview hidden"
					src="#{webroot}/media/stashes-view-auto.webp"
					data-visibility="views.stashes.files.layout !tree"
					loading="lazy"
					width="600"
					height="360"
				/>
				<img
					class="image__preview hidden"
					src="#{webroot}/media/stashes-view-tree.webp"
					data-visibility="views.stashes.files.layout =tree"
					loading="lazy"
					width="600"
					height="360"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open the
				<a
					class="secondary"
					title="Open Settings UI"
					href="command:workbench.action.openSettings?%22gitlens.views.stashes%22"
					>Settings UI</a
				>
				and search for <b><i>gitlens.views.stashes</i></b> or
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
