<section id="stashes-view" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			Stashes view
			<a
				class="link__learn-more"
				title="Learn more"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#stashes-view-"
			>
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">
			Adds a Stashes view
			<a
				class="command command--show-view"
				title="Show View in Side Bar"
				href="command:gitlens.showStashesView"
			></a>
			to visualize, explore, and manage Git stashes
		</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<label for="views.stashes.files.layout">Layout files</label>
							<div class="select-container">
								<select id="views.stashes.files.layout" name="views.stashes.files.layout" data-setting>
									<option value="auto">automatically</option>
									<option value="list">as a list</option>
									<option value="tree">as a tree</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.stashes.files.layout =auto">
							Chooses the best layout based on the number of files at each nesting level
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input
								id="views.stashes.files.compact"
								name="views.stashes.files.compact"
								type="checkbox"
								data-setting
							/>
							<label for="views.stashes.files.compact">Use compact file layout</label>
						</div>
						<p class="setting__hint">Compacts (flattens) unnecessary nesting when using a tree layouts</p>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img
					class="image__preview hidden"
					src="#{root}/images/settings/view-stashes.png"
					data-visibility="views.stashes.files.layout !tree"
				/>
				<img
					class="image__preview hidden"
					src="#{root}/images/settings/view-stashes-tree-compact.png"
					data-visibility="views.stashes.files.layout =tree &amp; views.stashes.files.compact"
				/>
				<img
					class="image__preview hidden"
					src="#{root}/images/settings/view-stashes-tree.png"
					data-visibility="views.stashes.files.layout =tree &amp; views.stashes.files.compact =false"
				/>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> For more options, open
				<a
					class="command"
					title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.views.stashes%22"
					>Settings</a
				>
				and search for <b><i>gitlens.views.stashes</i></b> or
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>
