* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	color: var(--color-view-foreground);
	font-family: var(--font-family);
	height: 100%;
	line-height: 1.4;
	font-size: 100% !important;
	overflow: hidden;
	margin: 0 20px 20px 20px;
	padding: 0;

	min-width: 400px;
	overflow-x: scroll;
}

body[data-placement='editor'] {
	background-color: var(--color-background);
}

.container {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-height: 100%;
	overflow: hidden;
}

section {
	display: flex;
	flex-direction: column;
	padding: 0;
}

h2 {
	font-weight: 400;
}

h3 {
	border: none;
	color: var(--color-view-header-foreground);
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;
	white-space: nowrap;
}

h4 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0.5rem 0 1rem 0;
}

a {
	text-decoration: none;

	&:focus {
		outline-color: var(--focus-border);
	}

	&:hover {
		text-decoration: underline;
	}
}

b {
	font-weight: 600;
}

p {
	margin-bottom: 0;
}

vscode-button:not([appearance='icon']) {
	align-self: center;
	margin-top: 1.5rem;
	max-width: 300px;
	width: 100%;
}

span.button-subaction {
	align-self: center;
	margin-top: 0.75rem;
}

@media (min-width: 640px) {
	vscode-button:not([appearance='icon']) {
		align-self: flex-start;
	}
	span.button-subaction {
		align-self: flex-start;
	}
}

.header {
	display: grid;
	grid-template-columns: max-content min-content minmax(min-content, 1fr) max-content;
	align-items: baseline;
	grid-template-areas: 'title sha description toolbox';
	justify-content: start;
	margin-bottom: 1rem;

	@media all and (max-width: 500px) {
		grid-template-areas:
			'title sha description'
			'empty toolbox';
		grid-template-columns: max-content min-content minmax(min-content, 1fr);
	}

	h2[data-bind='title'] {
		grid-area: title;
		margin-bottom: 0;
	}

	h2[data-bind='sha'] {
		grid-area: sha;
		font-size: 1.3em;
		font-weight: 200;
		margin-left: 1.5rem;
		opacity: 0.7;
		white-space: nowrap;

		.sha {
			margin-left: 0.25rem;
		}
	}

	h2[data-bind='description'] {
		grid-area: description;
		font-size: 1.3em;
		font-weight: 200;
		margin-left: 1.5rem;
		opacity: 0.7;
		overflow-wrap: anywhere;
	}

	.toolbox {
		grid-area: toolbox;
		display: flex;
	}
}

.select-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 100% 0 1;

	label {
		margin: 0 1em;
		font-size: var(--font-size);
	}
}

#content {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#chart {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#chart-empty-overlay {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	h1 {
		font-weight: 600;
		padding-bottom: 10%;
	}
}

[data-visible] {
	display: none;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.3em;
	min-height: 100%;
	padding: 0 2rem 2rem 2rem;

	backdrop-filter: blur(3px) saturate(0.8);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal {
	max-width: 600px;
	background: var(--color-hover-background) no-repeat left top;
	background-image: var(--gl-plus-bg);
	border: 1px solid var(--color-hover-border);
	border-radius: 0.4rem;
	margin: 1rem;
	padding: 1.2rem;

	> p:first-child {
		margin-top: 0;
	}

	vscode-button:not([appearance='icon']) {
		align-self: center !important;
	}
}

.hidden {
	display: none !important;
}

@import './chart';
@import '../../shared/codicons.scss';
@import '../../shared/glicons.scss';

.glicon {
	vertical-align: middle;
}

.glicon,
.codicon {
	position: relative;
	top: -1px;
}

.mt-tight {
	margin-top: 0.3rem;
}
