<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<style>
			.hidden {
				display: none !important;
			}
		</style>
	</head>

	<body class="preload" data-placement="#{placement}">
		<div class="container">
			<section class="header">
				<h2 data-bind="title"></h2>
				<h2 data-bind="sha"></h2>
				<h2 data-bind="description"></h2>
				<div class="toolbox">
					<div class="select-container">
						<label for="periods">Timeframe</label>
						<vscode-dropdown id="periods" name="periods" position="below">
							<vscode-option value="7|D">1 week</vscode-option>
							<vscode-option value="1|M">1 month</vscode-option>
							<vscode-option value="3|M" selected="true">3 months</vscode-option>
							<vscode-option value="6|M">6 months</vscode-option>
							<vscode-option value="9|M">9 months</vscode-option>
							<vscode-option value="1|Y">1 year</vscode-option>
							<vscode-option value="2|Y">2 years</vscode-option>
							<vscode-option value="4|Y">4 years</vscode-option>
							<vscode-option value="all">Full history</vscode-option>
						</vscode-dropdown>
					</div>
				</div>
			</section>
			<section id="content">
				<div id="chart"></div>
				<div id="chart-empty-overlay" class="hidden">
					<h1 data-bind="empty"></h1>
				</div>
			</section>
			<section id="footer"></section>
		</div>
		<div id="overlay" class="hidden">
			<div class="modal">
				<p>
					The Visual File History, a
					<a title="Learn more about GitLens+ features" href="command:gitlens.plus.learn"
						>✨GitLens+ feature</a
					>, allows you to quickly see the evolution of a file, including when changes were made, how large
					they were, and who made them.
				</p>
				<p>
					Use it to quickly find when the most impactful changes were made to a file or who best to talk to
					about file changes and more.
				</p>
				<div id="overlay-slot"></div>
			</div>
		</div>
		#{endOfBody}

		<style nonce="#{cspNonce}">
			:root {
				--gl-plus-bg: url(#{webroot}/media/gitlens-backdrop.webp);
			}
		</style>
		<style nonce="#{cspNonce}">
			@font-face {
				font-family: 'codicon';
				font-display: block;
				src: url('#{webroot}/codicon.ttf?0e5b0adf625a37fbcd638d31f0fe72aa') format('truetype');
			}
		</style>
		<style nonce="#{cspNonce}">
			@font-face {
				font-family: 'glicons';
				font-display: block;
				src: url('#{root}/dist/glicons.woff2?33c8fcd4948539e9758d0430426d7bdc') format('woff2');
			}
		</style>
	</body>

	<!-- prettier-ignore -->
	<%= require('html-loader?{"esModule":false}!./partials/state.free.html') %>
	<%= require('html-loader?{"esModule":false}!./partials/state.free-preview-trial-expired.html') %>
	<%= require('html-loader?{"esModule":false}!./partials/state.plus-trial-expired.html') %>
	<%= require('html-loader?{"esModule":false}!./partials/state.verify-email.html') %>
</html>
