<template id="state:free">
	<section>
		<p>
			Try the Visual File History now, without an account, for 3 days on public and private repos, or
			<a href="command:gitlens.premium.loginOrSignUp">sign in</a> to use the Visual File History on public repos.
		</p>
		<vscode-button data-action="command:gitlens.premium.startPreviewTrial"
			>Try the Visual File History now</vscode-button
		>
		<p>
			✨ The Visual File History is a premium feature, open the
			<a href="command:gitlens.premium.learn">premium features walkthrough</a> to learn more.
		</p>
	</section>
</template>
