<template id="state:free-preview-expired">
	<section>
		<p>
			Sign in to use the Visual File History and other premium features on public repos and get an
			<b>additional 7-day free trial</b> for both public and private repos.
		</p>
		<vscode-button data-action="command:gitlens.plus.loginOrSignUp">Sign in</vscode-button>
		<p>
			✨ The Visual File History is
			<a title="Learn more about premium features" href="command:gitlens.plus.learn">premium feature</a> which can
			be used on public repos with a
			<a title="Sign in" href="command:gitlens.plus.loginOrSignUp">free account</a> and private repos with a
			<a title="View plans" href="command:gitlens.plus.purchase">paid account</a>.
		</p>
		<p><i class="codicon codicon-info"></i>&nbsp;Non-premium features can always be used on any repo.</p>
	</section>
</template>
