html {
	height: 100%;
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-family);
	height: 100%;
	line-height: 1.4;
	font-size: 100% !important;
}

.container {
	color: var(--color-view-foreground);
	display: grid;
	font-size: 1.3em;
	grid-template-rows: auto repeat(2, min-content);
	min-height: 100%;
}

.welcome {
	grid-template-rows: repeat(3, min-content);
}

section {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 0;
}

h3 {
	border: none;
	color: var(--color-view-header-foreground);
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;
	white-space: nowrap;
}

h4 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0.5rem 0 1rem 0;
}

a {
	text-decoration: none;

	&:focus {
		outline-color: var(--focus-border);
	}

	&:hover {
		text-decoration: underline;
	}
}

b {
	font-weight: 600;
}

p {
	margin-bottom: 0;
}

.welcome {
	ul {
		list-style: none;
		padding: 0;
		margin: 1rem 3rem;
	}

	li {
		margin: 1rem 0;
	}
}

.links {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 2rem;
	justify-content: space-between;
	margin: 1rem;

	ul {
		list-style: none;
		margin: 0.5rem 0 0 0;
		padding: 0;
		white-space: nowrap;
	}
}

vscode-button {
	align-self: center;
	margin-top: 1.5rem;
	max-width: 300px;
	width: 100%;
}

span.button-subaction {
	align-self: center;
	margin-top: 0.75rem;
}

@media (min-width: 640px) {
	vscode-button {
		align-self: flex-start;
	}
	span.button-subaction {
		align-self: flex-start;
	}
}

vscode-divider {
	margin-top: 2rem;
}

@import '../../shared/codicons';
