name: Unit tests (Docker)

on:
    workflow_dispatch:

jobs:
    test:
        name: Run unit tests (Docker)
        runs-on: ubuntu-latest
        timeout-minutes: 30
        if: ${{ !github.event.pull_request.draft }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Run unit tests in Docker
              run: cd tests/docker && ./run-e2e-test-local.sh
